docker/config/flows.json
[{"id":"e6b398e5.3204f8","type":"tab","label":"Incoming SMS","disabled":false,"info":""},{"id":"fe3134f9.a9bb18","type":"tab","label":"Flow 2"},{"id":"42615936.02f6f8","type":"tab","label":"Storage","disabled":false,"info":""},{"id":"2af2ed50.ec8d72","type":"mqtt-broker","z":"","broker":"ec2-54-245-74-124.us-west-2.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b278b325.add76","type":"mqtt-broker","z":"","broker":"ec2-54-245-6-218.us-west-2.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c0166689.1e61d8","type":"mongodb2","z":"","uri":"mongodb://localhost:27017","name":"storage","options":"","parallelism":""},{"id":"2ea94ebd.6847f2","type":"mqtt out","z":"e6b398e5.3204f8","name":"","topic":"pets/food/instruction","qos":"","retain":"","broker":"2af2ed50.ec8d72","x":954.0001220703125,"y":91.00003147125244,"wires":[]},{"id":"cfb33b3d.78d6c8","type":"inject","z":"e6b398e5.3204f8","name":"STATUS","topic":"","payload":"STATUS","payloadType":"str","repeat":"","crontab":"","once":false,"x":520,"y":20,"wires":[["2ea94ebd.6847f2"]]},{"id":"3e8f3f49.0ae0e","type":"inject","z":"e6b398e5.3204f8","name":"EMPTY","topic":"","payload":"EMPTY","payloadType":"str","repeat":"","crontab":"","once":false,"x":507.8999824523926,"y":107.40000581741333,"wires":[["2ea94ebd.6847f2"]]},{"id":"9455d0b7.29bfc","type":"inject","z":"e6b398e5.3204f8","name":"FILL","topic":"","payload":"FILL","payloadType":"str","repeat":"","crontab":"","once":false,"x":509.8999824523926,"y":62.40000534057617,"wires":[["2ea94ebd.6847f2"]]},{"id":"c7f4a0da.0fbaa","type":"debug","z":"e6b398e5.3204f8","name":"","active":false,"console":"false","complete":"false","x":759.0000686645508,"y":297.0000352859497,"wires":[]},{"id":"548939b4.3bdc58","type":"change","z":"e6b398e5.3204f8","name":"","rules":[{"t":"set","p":"originalpayload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"message","pt":"msg","to":"payload.Body","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":723.0000686645508,"y":251.00003242492676,"wires":[["1756a960.e121e7"]]},{"id":"3091ab2e.46a3b4","type":"debug","z":"fe3134f9.a9bb18","name":"","active":true,"console":"false","complete":"true","x":390,"y":140,"wires":[]},{"id":"4fe856e7.d6f7c8","type":"http in","z":"fe3134f9.a9bb18","name":"/api/v1/porfolio","url":"/api/v1/porfolio/","method":"get","swaggerDoc":"","x":171.09999084472656,"y":211.8000144958496,"wires":[["3091ab2e.46a3b4","2179f2b8.9a56de"]]},{"id":"28ef2cb.85c31d4","type":"http response","z":"fe3134f9.a9bb18","name":"","x":674.1001434326172,"y":208.80005168914795,"wires":[]},{"id":"8161c065.06497","type":"comment","z":"fe3134f9.a9bb18","name":"http://ec2-54-245-6-218.us-west-2.compute.amazonaws.com:1880/api/v1/porfolio?element=UC&collateral=yes","info":"","x":420.0999984741211,"y":96.00000476837158,"wires":[]},{"id":"2179f2b8.9a56de","type":"function","z":"fe3134f9.a9bb18","name":"Portfolio","func":"//msg.payload.helloText = 'Hello World!';\n\nvar portfolio = msg.payload.portfolio;\nvar collateral = msg.payload.collateral;\n\nnode.status({fill:\"green\",shape:\"ring\",text:\"Portolio activated\"});\n\n\n\nswitch (portfolio)\n{\n    case \"UC\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Workspaces For Tomorrow](http://www2.dimensiondata.com/en-be/digital-business/workspaces)\";\n        msg.payload.url2 = \"[Unified communications and collaboration](http://www.dimensiondata.com/en-BE/Solutions/Unified-Communications-and-Collaboration)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Unified Communications and Collaboration Development Model](http://www.dimensiondata.com/Global/Downloadable%20Documents/Unified%20Communications%20and%20Collaboration%20Development%20Model%20Brochure.pdf)\";\n        }\n        break;\n    case \"CX\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Workspaces For Tomorrow](http://www2.dimensiondata.com/en-be/digital-business/workspaces)\";\n        msg.payload.url2 = \"[Unified communications and collaboration](http://www.dimensiondata.com/en-BE/Solutions/Unified-Communications-and-Collaboration)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Unified Communications and Collaboration Development Model](http://www.dimensiondata.com/Global/Downloadable%20Documents/Unified%20Communications%20and%20Collaboration%20Development%20Model%20Brochure.pdf)\";\n        }\n        break;\n    case \"NI\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Networking](http://www.dimensiondata.com/en-BE/Solutions/Networking/)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Network optimisation assessment](http://www.dimensiondata.com/Global/Downloadable%20Documents/Network%20Optimisation%20Assessment%20Brochure.pdf)\";\n        }\n        break;\n    case \"SEC\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Cybersecurity](http://www2.dimensiondata.com/en-be/digital-business/cybersecurity)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Security consulting services and assessments services ](http://www.dimensiondata.com/Global/Downloadable%20Documents/Security%20Solutions%20Consulting%20Brochure.pdf)\";\n        }\n        break;\n    case \"DCS\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Datacentres](http://www.dimensiondata.com/en-BE/Solutions/Data-Centres/)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Hybrid cloud](http://www.dimensiondata.com/Global/Downloadable%20Documents/Dimension%20Data%20Hybrid%20Cloud%20Solutions%20Overview.pdf)\";\n        }\n        break;\n}\n\n\nnode.info('The portfolio resquested is ' + msg.payload.portfolio + ' has collateral: ' + msg.payload.collateral);\n\nreturn msg;","outputs":1,"noerr":0,"x":393.100040435791,"y":211.00002765655518,"wires":[["28ef2cb.85c31d4","360f64ce.30d59c"]]},{"id":"360f64ce.30d59c","type":"debug","z":"fe3134f9.a9bb18","name":"","active":false,"console":"false","complete":"false","x":649.0000152587891,"y":147.00000095367432,"wires":[]},{"id":"ddac8792.680828","type":"function","z":"e6b398e5.3204f8","name":"Demo or not","func":"node.log('The body is ' + msg.payload.Body);\nnode.warn('Message from ' + msg.payload.From + ' ==> ' + msg.payload.Body);\nif (msg.payload.From == \"+32479940612\")\n{\n    switch (msg.payload.Body){\n        case \"STATUS\":\n            node.status({fill:\"green\",shape:\"ring\",text:\"Last command was: \" + msg.payload.Body});\n            return [msg,null];\n        case \"FILL\":\n            node.status({fill:\"green\",shape:\"ring\",text:\"Last command was: \" + msg.payload.Body});\n            return [msg,null];\n        case \"EMPTY\":\n            node.status({fill:\"green\",shape:\"ring\",text:\"Last command was: \" + msg.payload.Body});\n            return [msg,null];\n        default:\n            return [null,msg];\n    }\n}\nelse\n{\n    console.error('Message received from unauthorised number: ' + msg.payload.From);\n    node.status({fill:\"red\",shape:\"ring\",text:\"Last command was unauthorised\"});\n}\n\n\nreturn msg;","outputs":"2","noerr":0,"x":537.1000137329102,"y":256.4000072479248,"wires":[["548939b4.3bdc58","9832c5a3.c6c508"],["c7f4a0da.0fbaa"]],"outputLabels":["good command","wrong command"]},{"id":"9832c5a3.c6c508","type":"debug","z":"e6b398e5.3204f8","name":"","active":false,"console":"false","complete":"true","x":650.1000671386719,"y":198.6000051498413,"wires":[]},{"id":"9d57c7d4.c60b78","type":"debug","z":"e6b398e5.3204f8","name":"","active":true,"console":"false","complete":"true","x":279.1000061035156,"y":144.60000610351562,"wires":[]},{"id":"9340cf5d.3aaa9","type":"http in","z":"e6b398e5.3204f8","name":"/incoming","url":"/incoming","method":"get","upload":false,"swaggerDoc":"","x":72.00000381469727,"y":248.00000762939453,"wires":[["9d57c7d4.c60b78","9219cb43.213818","ddac8792.680828"]]},{"id":"1756a960.e121e7","type":"json","z":"e6b398e5.3204f8","name":"","pretty":false,"x":947.0999755859375,"y":172.8000030517578,"wires":[["2ea94ebd.6847f2","5a7ce108.8cb12"]]},{"id":"9219cb43.213818","type":"http response","z":"e6b398e5.3204f8","name":"","statusCode":"","headers":{},"x":245.10000610351562,"y":323.6000061035156,"wires":[]},{"id":"dee06cc4.79a7","type":"debug","z":"42615936.02f6f8","name":"","active":true,"console":"false","complete":"payload","x":807,"y":360,"wires":[]},{"id":"82b6c39d.082c6","type":"inject","z":"42615936.02f6f8","name":"2) Output Separately for each Record","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":309,"y":263,"wires":[["f31ad562.a233f8"]]},{"id":"f79aa14f.dadff","type":"mongodb2 in","z":"42615936.02f6f8","service":"_ext_","configNode":"c0166689.1e61d8","name":"Mongo DB dynamic operation","collection":"","operation":"","x":467,"y":334,"wires":[["6463162d.b1af88"]]},{"id":"db26ef51.24ab1","type":"mongodb2 in","z":"42615936.02f6f8","service":"_ext_","configNode":"c0166689.1e61d8","name":"Mongo DB dynamic operation","collection":"sms","operation":"","x":477,"y":121,"wires":[["6463162d.b1af88"]]},{"id":"2fb46d78.9c2162","type":"inject","z":"42615936.02f6f8","name":"1) Find One only","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":243,"y":61,"wires":[["ef26173f.6eab08"]]},{"id":"ef26173f.6eab08","type":"function","z":"42615936.02f6f8","name":"findOne","func":" var newMsg = {};\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"x":269,"y":120,"wires":[["db26ef51.24ab1"]]},{"id":"30155ce4.9fbb44","type":"mongodb2 in","z":"42615936.02f6f8","service":"_ext_","configNode":"c0166689.1e61d8","name":"Store Data into MongoDB","collection":"","operation":"","x":600,"y":412,"wires":[["dee06cc4.79a7"]]},{"id":"f31ad562.a233f8","type":"function","z":"42615936.02f6f8","name":"find.forEach","func":"var newMsg = {};\nnewMsg.collection = 'names';\nnewMsg.operation  = 'find.forEach';\n//newMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.payload    = { 'name' : 'Pete1' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"x":249,"y":334,"wires":[["f79aa14f.dadff"]]},{"id":"6463162d.b1af88","type":"function","z":"42615936.02f6f8","name":"Just get name","func":"var newMsg = {};\nnewMsg.payload    = msg.payload.name;\nreturn newMsg;","outputs":1,"x":689,"y":181,"wires":[["dee06cc4.79a7"]]},{"id":"de16d48d.f95e98","type":"inject","z":"42615936.02f6f8","name":"4) Output once only as a list","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":281,"y":502,"wires":[["4306a06e.3d7c8"]]},{"id":"4306a06e.3d7c8","type":"function","z":"42615936.02f6f8","name":"find.toArray","func":"var newMsg = {};\nnewMsg.collection = 'names';\nnewMsg.operation  = 'find.toArray';\n//newMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.payload    = { 'name' : 'Pete1' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"x":245,"y":561,"wires":[["7765d4cd.ae26cc"]]},{"id":"7765d4cd.ae26cc","type":"mongodb2 in","z":"42615936.02f6f8","service":"_ext_","configNode":"c0166689.1e61d8","name":"Mongo DB dynamic operation","collection":"","operation":"","x":456,"y":561,"wires":[["82672b99.fc5008"]]},{"id":"82672b99.fc5008","type":"function","z":"42615936.02f6f8","name":"get names as a list","func":"// Outputs separate messages !!\n//var newMsg =[];\n//for (var i = 0; i < msg.payload.length; i++) { \n//newMsg.push({name: msg.payload[i].name}) };\n//return [ newMsg ];\n\n// Combines into a single list (or array)\nvar newMsg =[];\nfor (var i = 0; i < msg.payload.length; i++) {\n//newMsg.push({name:  msg.payload[i].name } ) };\nnewMsg.push(msg.payload[i].name) };\nmsg.payload = newMsg;\nreturn  msg;\n","outputs":1,"x":690,"y":561,"wires":[["dee06cc4.79a7"]]},{"id":"fa082a1a.3ea0e8","type":"inject","z":"42615936.02f6f8","name":"3) Enter data","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":230,"y":413,"wires":[["d07ff551.aaa128"]]},{"id":"d07ff551.aaa128","type":"function","z":"42615936.02f6f8","name":"insert (or delete)","func":"var newMsg = {};\nnewMsg.collection = 'names';\n//newMsg.operation  = 'deleteOne';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Smith4' };\nreturn newMsg;","outputs":1,"noerr":0,"x":391,"y":413,"wires":[["30155ce4.9fbb44"]]},{"id":"4cabe7d5.78f058","type":"function","z":"42615936.02f6f8","name":"build operation parameters: filter, update","func":"var filter = msg.payload;\nif (\"string\" == typeof filter) {\n  filter = JSON.parse(filter);\n}\n\nmsg.payload = [\n  filter,\n  {\n    \"$inc\": {\n      \"counter\": 1\n    }\n  }\n];\n\nreturn msg;\n","outputs":1,"x":452,"y":771.3999633789062,"wires":[["4fc53d1.ee35fc4"]]},{"id":"4fc53d1.ee35fc4","type":"mongodb2 in","z":"42615936.02f6f8","service":"_ext_","configNode":"","name":"","collection":"mycollection","operation":"findOneAndUpdate","x":558.3333435058594,"y":700.1777648925781,"wires":[["bb339e00.d88d8"]]},{"id":"bf20dffd.206b5","type":"inject","z":"42615936.02f6f8","name":"Inject filter","topic":"","payload":"{\"_id\":\"mydocument\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":217.5,"y":771.3999633789062,"wires":[["4cabe7d5.78f058"]]},{"id":"bb339e00.d88d8","type":"debug","z":"42615936.02f6f8","name":"","active":true,"console":"false","complete":"false","x":792,"y":772.3999633789062,"wires":[]},{"id":"50df115f.e86b7","type":"mongodb2 in","z":"42615936.02f6f8","service":"_ext_","configNode":"c0166689.1e61d8","name":"Store Data into MongoDB","collection":"sms","operation":"","x":606,"y":894.3999633789062,"wires":[[]]},{"id":"3539a54c.7c747a","type":"inject","z":"42615936.02f6f8","name":"3) Enter data","topic":"sms","payload":"{ x: 1 }","payloadType":"str","repeat":"","crontab":"","once":false,"x":236,"y":895.3999633789062,"wires":[["50df115f.e86b7"]]},{"id":"5a7ce108.8cb12","type":"debug","z":"e6b398e5.3204f8","name":"","active":false,"console":"false","complete":"false","x":1010.8999786376953,"y":255.60000610351562,"wires":[]}]