docker/flows.json
[
  {
    "id": "3f0a5568.69490a",
    "type": "tab",
    "label": "Incoming SMS",
    "disabled": false,
    "info": ""
  },
  {
    "id": "6ea0f481.f4e72c",
    "type": "tab",
    "label": "Portfolio",
    "disabled": false,
    "info": ""
  },
  {
    "id": "81b9956f.f67058",
    "type": "tab",
    "label": "MERAKI NODE",
    "disabled": false,
    "info": ""
  },
  {
    "id": "3df507d3.ec71b8",
    "type": "mqtt-broker",
    "z": "",
    "broker": "ec2-34-233-121-229.compute-1.amazonaws.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": ""
  },
  {
    "id": "d290a4d9.c5e218",
    "type": "meraki-cmx-settings",
    "z": "",
    "name": "DD Meraki"
  },
  {
    "id": "8c8f0fbe.f9a2a",
    "type": "mqtt out",
    "z": "3f0a5568.69490a",
    "name": "",
    "topic": "pets/food/instruction",
    "qos": "",
    "retain": "",
    "broker": "3df507d3.ec71b8",
    "x": 580,
    "y": 100,
    "wires": []
  },
  {
    "id": "c474ac14.5aec8",
    "type": "inject",
    "z": "3f0a5568.69490a",
    "name": "STATUS",
    "topic": "",
    "payload": "STATUS",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 340,
    "y": 80,
    "wires": [
      [
        "8c8f0fbe.f9a2a"
      ]
    ]
  },
  {
    "id": "d3fa765.db44488",
    "type": "inject",
    "z": "3f0a5568.69490a",
    "name": "EMPTY",
    "topic": "",
    "payload": "EMPTY",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 327.8999824523926,
    "y": 167.40000581741333,
    "wires": [
      [
        "8c8f0fbe.f9a2a"
      ]
    ]
  },
  {
    "id": "1e3cca2c.67f796",
    "type": "inject",
    "z": "3f0a5568.69490a",
    "name": "FILL",
    "topic": "",
    "payload": "FILL",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 329.8999824523926,
    "y": 122.40000534057617,
    "wires": [
      [
        "8c8f0fbe.f9a2a"
      ]
    ]
  },
  {
    "id": "c70517a3.0c5888",
    "type": "debug",
    "z": "3f0a5568.69490a",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 570,
    "y": 360,
    "wires": []
  },
  {
    "id": "22da3cf0.ddf8a4",
    "type": "change",
    "z": "3f0a5568.69490a",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "originalpayload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "message",
        "pt": "msg",
        "to": "payload.Body",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 580,
    "y": 320,
    "wires": [
      [
        "bc94b194.ce057"
      ]
    ]
  },
  {
    "id": "525c9c0f.b74e04",
    "type": "debug",
    "z": "6ea0f481.f4e72c",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 290,
    "y": 140,
    "wires": []
  },
  {
    "id": "bc83ffb1.4dc47",
    "type": "http in",
    "z": "6ea0f481.f4e72c",
    "name": "/api/v1/porfolio",
    "url": "/api/v1/porfolio/",
    "method": "get",
    "swaggerDoc": "",
    "x": 120,
    "y": 180,
    "wires": [
      [
        "525c9c0f.b74e04",
        "12141098.b236cf"
      ]
    ]
  },
  {
    "id": "63a3b630.6460e8",
    "type": "http response",
    "z": "6ea0f481.f4e72c",
    "name": "",
    "x": 470,
    "y": 180,
    "wires": []
  },
  {
    "id": "406dc551.3add8c",
    "type": "comment",
    "z": "6ea0f481.f4e72c",
    "name": "http://ec2-54-245-6-218.us-west-2.compute.amazonaws.com:1880/api/v1/porfolio?element=UC&collateral=yes",
    "info": "",
    "x": 390,
    "y": 100,
    "wires": []
  },
  {
    "id": "12141098.b236cf",
    "type": "function",
    "z": "6ea0f481.f4e72c",
    "name": "Portfolio",
    "func": "//msg.payload.helloText = 'Hello World!';\n\nvar portfolio = msg.payload.portfolio;\nvar collateral = msg.payload.collateral;\n\nnode.status({fill:\"green\",shape:\"ring\",text:\"Portolio activated\"});\n\n\n\nswitch (portfolio)\n{\n    case \"UC\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Workspaces For Tomorrow](http://www2.dimensiondata.com/en-be/digital-business/workspaces)\";\n        msg.payload.url2 = \"[Unified communications and collaboration](http://www.dimensiondata.com/en-BE/Solutions/Unified-Communications-and-Collaboration)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Unified Communications and Collaboration Development Model](http://www.dimensiondata.com/Global/Downloadable%20Documents/Unified%20Communications%20and%20Collaboration%20Development%20Model%20Brochure.pdf)\";\n        }\n        break;\n    case \"CX\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Workspaces For Tomorrow](http://www2.dimensiondata.com/en-be/digital-business/workspaces)\";\n        msg.payload.url2 = \"[Unified communications and collaboration](http://www.dimensiondata.com/en-BE/Solutions/Unified-Communications-and-Collaboration)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Unified Communications and Collaboration Development Model](http://www.dimensiondata.com/Global/Downloadable%20Documents/Unified%20Communications%20and%20Collaboration%20Development%20Model%20Brochure.pdf)\";\n        }\n        break;\n    case \"NI\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Networking](http://www.dimensiondata.com/en-BE/Solutions/Networking/)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Network optimisation assessment](http://www.dimensiondata.com/Global/Downloadable%20Documents/Network%20Optimisation%20Assessment%20Brochure.pdf)\";\n        }\n        break;\n    case \"SEC\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Cybersecurity](http://www2.dimensiondata.com/en-be/digital-business/cybersecurity)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Security consulting services and assessments services ](http://www.dimensiondata.com/Global/Downloadable%20Documents/Security%20Solutions%20Consulting%20Brochure.pdf)\";\n        }\n        break;\n    case \"DCS\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Datacentres](http://www.dimensiondata.com/en-BE/Solutions/Data-Centres/)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Hybrid cloud](http://www.dimensiondata.com/Global/Downloadable%20Documents/Dimension%20Data%20Hybrid%20Cloud%20Solutions%20Overview.pdf)\";\n        }\n        break;\n}\n\n\nnode.info('The portfolio resquested is ' + msg.payload.portfolio + ' has collateral: ' + msg.payload.collateral);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 180,
    "wires": [
      [
        "63a3b630.6460e8",
        "b42b33b4.d707f"
      ]
    ]
  },
  {
    "id": "b42b33b4.d707f",
    "type": "debug",
    "z": "6ea0f481.f4e72c",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 490,
    "y": 140,
    "wires": []
  },
  {
    "id": "7465ab13.430a84",
    "type": "function",
    "z": "3f0a5568.69490a",
    "name": "Demo or not",
    "func": "node.log('The body is ' + msg.payload.Body);\nnode.warn('Message from ' + msg.payload.From + ' ==> ' + msg.payload.Body);\nif (msg.payload.From == \"+32479940612\")\n{\n    switch (msg.payload.Body){\n        case \"STATUS\":\n            node.status({fill:\"green\",shape:\"ring\",text:\"Last command was: \" + msg.payload.Body});\n            return [msg,null];\n        case \"FILL\":\n            node.status({fill:\"green\",shape:\"ring\",text:\"Last command was: \" + msg.payload.Body});\n            return [msg,null];\n        case \"EMPTY\":\n            node.status({fill:\"green\",shape:\"ring\",text:\"Last command was: \" + msg.payload.Body});\n            return [msg,null];\n        default:\n            return [null,msg];\n    }\n}\nelse\n{\n    console.error('Message received from unauthorised number: ' + msg.payload.From);\n    node.status({fill:\"red\",shape:\"ring\",text:\"Last command was unauthorised\"});\n}\n\n\nreturn msg;",
    "outputs": "2",
    "noerr": 0,
    "x": 370,
    "y": 320,
    "wires": [
      [
        "22da3cf0.ddf8a4",
        "c158adf1.2d352"
      ],
      [
        "c70517a3.0c5888"
      ]
    ],
    "outputLabels": [
      "good command",
      "wrong command"
    ]
  },
  {
    "id": "c158adf1.2d352",
    "type": "debug",
    "z": "3f0a5568.69490a",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 550,
    "y": 280,
    "wires": []
  },
  {
    "id": "f1087dbe.1e1aa",
    "type": "debug",
    "z": "3f0a5568.69490a",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 350,
    "y": 280,
    "wires": []
  },
  {
    "id": "8a2efd9c.e9f35",
    "type": "http in",
    "z": "3f0a5568.69490a",
    "name": "/incoming",
    "url": "/incoming",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 320,
    "wires": [
      [
        "f1087dbe.1e1aa",
        "6c3955d.51f1fac",
        "7465ab13.430a84"
      ]
    ]
  },
  {
    "id": "bc94b194.ce057",
    "type": "json",
    "z": "3f0a5568.69490a",
    "name": "",
    "pretty": false,
    "x": 730,
    "y": 320,
    "wires": [
      [
        "71da4fd1.0f562",
        "c745c0e9.8f52c"
      ]
    ]
  },
  {
    "id": "6c3955d.51f1fac",
    "type": "http response",
    "z": "3f0a5568.69490a",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 350,
    "y": 360,
    "wires": []
  },
  {
    "id": "71da4fd1.0f562",
    "type": "debug",
    "z": "3f0a5568.69490a",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 906.0000267028809,
    "y": 379.0000114440918,
    "wires": []
  },
  {
    "id": "4928f3bd.f7251c",
    "type": "debug",
    "z": "81b9956f.f67058",
    "name": "Data",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 810,
    "y": 120,
    "wires": []
  },
  {
    "id": "5cb16500.bec0bc",
    "type": "Meraki CMX",
    "z": "81b9956f.f67058",
    "name": "",
    "url": "/cmx2",
    "settings": "d290a4d9.c5e218",
    "radioType": "All",
    "x": 390,
    "y": 140,
    "wires": [
      [
        "4928f3bd.f7251c",
        "a2e7a693.494d68"
      ],
      [
        "23e2a106.65083e"
      ]
    ]
  },
  {
    "id": "14a89a01.6537d6",
    "type": "debug",
    "z": "81b9956f.f67058",
    "name": "Status: Data",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 790,
    "y": 200,
    "wires": []
  },
  {
    "id": "9a1d3fbd.a819b",
    "type": "split",
    "z": "81b9956f.f67058",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "topic",
    "x": 630,
    "y": 520,
    "wires": [
      [
        "55fe6a92.75d344"
      ]
    ]
  },
  {
    "id": "b550c852.ead578",
    "type": "function",
    "z": "81b9956f.f67058",
    "name": "Extract Observations",
    "func": "// Flatten JSON\nmsg.type = msg.payload.type;\nmsg.apMac = msg.payload.data.apMac;\nmsg.apFloors = msg.payload.data.apFloors\nmsg.apTags = msg.payload.data.apTags;\nmsg.payload = msg.payload.data.observations;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 540,
    "y": 480,
    "wires": [
      [
        "9a1d3fbd.a819b"
      ]
    ]
  },
  {
    "id": "55fe6a92.75d344",
    "type": "debug",
    "z": "81b9956f.f67058",
    "name": "Observation",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 790,
    "y": 520,
    "wires": []
  },
  {
    "id": "23e2a106.65083e",
    "type": "switch",
    "z": "81b9956f.f67058",
    "name": "",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "data",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "version",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "validator",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "secret",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "type",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "error",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "outputs": 7,
    "x": 590,
    "y": 300,
    "wires": [
      [
        "14a89a01.6537d6"
      ],
      [
        "ca9acef9.f9de"
      ],
      [
        "9df07e68.f0ecc"
      ],
      [
        "22cf1d2d.d1b0c2"
      ],
      [
        "c08b216e.63da"
      ],
      [
        "55598b96.0b3d64"
      ],
      [
        "c0c85a67.63da08"
      ]
    ]
  },
  {
    "id": "9df07e68.f0ecc",
    "type": "debug",
    "z": "81b9956f.f67058",
    "name": "Status: Validator",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 780,
    "y": 280,
    "wires": []
  },
  {
    "id": "22cf1d2d.d1b0c2",
    "type": "debug",
    "z": "81b9956f.f67058",
    "name": "Status: Secret",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 780,
    "y": 320,
    "wires": []
  },
  {
    "id": "c08b216e.63da",
    "type": "debug",
    "z": "81b9956f.f67058",
    "name": "Status: Type",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 790,
    "y": 360,
    "wires": []
  },
  {
    "id": "55598b96.0b3d64",
    "type": "debug",
    "z": "81b9956f.f67058",
    "name": "Status: Error",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 790,
    "y": 400,
    "wires": []
  },
  {
    "id": "c0c85a67.63da08",
    "type": "debug",
    "z": "81b9956f.f67058",
    "name": "Status: Otherwise",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 770,
    "y": 440,
    "wires": []
  },
  {
    "id": "a2e7a693.494d68",
    "type": "link out",
    "z": "81b9956f.f67058",
    "name": "Meraki Scanning",
    "links": [
      "40bf58ab.e6d268"
    ],
    "x": 575,
    "y": 160,
    "wires": []
  },
  {
    "id": "40bf58ab.e6d268",
    "type": "link in",
    "z": "81b9956f.f67058",
    "name": "Split Observations",
    "links": [
      "a2e7a693.494d68"
    ],
    "x": 360,
    "y": 480,
    "wires": [
      [
        "b550c852.ead578"
      ]
    ]
  },
  {
    "id": "84292132.96df7",
    "type": "comment",
    "z": "81b9956f.f67058",
    "name": "Workflow Examples",
    "info": "",
    "x": 420,
    "y": 440,
    "wires": []
  },
  {
    "id": "ca9acef9.f9de",
    "type": "debug",
    "z": "81b9956f.f67058",
    "name": "Status: Version",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 780,
    "y": 240,
    "wires": []
  },
  {
    "id": "c3b93afb.147818",
    "type": "comment",
    "z": "81b9956f.f67058",
    "name": "Meraki Scanning Node - README",
    "info": "Update the Meraki node with your Meraki Network's\nvalidator and secret",
    "x": 710,
    "y": 60,
    "wires": []
  },
  {
    "id": "f8325e0b.c4434",
    "type": "link in",
    "z": "3f0a5568.69490a",
    "name": "Post SMS message",
    "links": [
      "c745c0e9.8f52c"
    ],
    "x": 455,
    "y": 160,
    "wires": [
      [
        "8c8f0fbe.f9a2a"
      ]
    ]
  },
  {
    "id": "c745c0e9.8f52c",
    "type": "link out",
    "z": "3f0a5568.69490a",
    "name": "Receive SMS message",
    "links": [
      "f8325e0b.c4434"
    ],
    "x": 835,
    "y": 320,
    "wires": []
  }
]