docker/flows_backup.json
[{"id":"8d708c79.f5c4b","type":"tab","label":"Incoming SMS","disabled":false,"info":""},{"id":"c934c02.2d4ed4","type":"tab","label":"Portfolio","disabled":false,"info":""},{"id":"bfe262e5.2706a","type":"tab","label":"MERAKI NODE","disabled":false,"info":""},{"id":"2af2ed50.ec8d72","type":"mqtt-broker","z":"","broker":"ec2-34-233-121-229.compute-1.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b278b325.add76","type":"mqtt-broker","z":"","broker":"ec2-54-245-6-218.us-west-2.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c0166689.1e61d8","type":"mongodb2","z":"","uri":"mongodb://localhost:27017","name":"storage","options":"","parallelism":""},{"id":"f8a99bd5.b9e718","type":"chatbot-telegram-node","z":"","botname":"sts-testing-bot","usernames":"","polling":"1000","log":""},{"id":"de3fcda0.73b78","type":"chatbot-facebook-node","z":"","botname":"Deedee","usernames":"","log":""},{"id":"166950c9.56ca6f","type":"meraki-cmx-settings","z":"","name":"DD Meraki"},{"id":"8ec0409d.fc6a2","type":"mqtt out","z":"8d708c79.f5c4b","name":"","topic":"pets/food/instruction","qos":"","retain":"","broker":"2af2ed50.ec8d72","x":580,"y":100,"wires":[]},{"id":"2ef68a06.e573d6","type":"inject","z":"8d708c79.f5c4b","name":"STATUS","topic":"","payload":"STATUS","payloadType":"str","repeat":"","crontab":"","once":false,"x":340,"y":80,"wires":[["8ec0409d.fc6a2"]]},{"id":"b7d56e08.e23ef","type":"inject","z":"8d708c79.f5c4b","name":"EMPTY","topic":"","payload":"EMPTY","payloadType":"str","repeat":"","crontab":"","once":false,"x":327.8999824523926,"y":167.40000581741333,"wires":[["8ec0409d.fc6a2"]]},{"id":"5d76fcae.ba6c24","type":"inject","z":"8d708c79.f5c4b","name":"FILL","topic":"","payload":"FILL","payloadType":"str","repeat":"","crontab":"","once":false,"x":329.8999824523926,"y":122.40000534057617,"wires":[["8ec0409d.fc6a2"]]},{"id":"abcb7c01.acadd","type":"debug","z":"8d708c79.f5c4b","name":"","active":false,"console":"false","complete":"false","x":570,"y":360,"wires":[]},{"id":"1c7ff79c.fac1d8","type":"change","z":"8d708c79.f5c4b","name":"","rules":[{"t":"set","p":"originalpayload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"message","pt":"msg","to":"payload.Body","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["3ceece57.7f5a02"]]},{"id":"75da1a46.a406b4","type":"debug","z":"c934c02.2d4ed4","name":"","active":true,"console":"false","complete":"true","x":290,"y":140,"wires":[]},{"id":"91cb9366.ed144","type":"http in","z":"c934c02.2d4ed4","name":"/api/v1/porfolio","url":"/api/v1/porfolio/","method":"get","swaggerDoc":"","x":120,"y":180,"wires":[["75da1a46.a406b4","e4c6cd34.4e313"]]},{"id":"20afc404.6eddfc","type":"http response","z":"c934c02.2d4ed4","name":"","x":470,"y":180,"wires":[]},{"id":"60226ed5.a243","type":"comment","z":"c934c02.2d4ed4","name":"http://ec2-54-245-6-218.us-west-2.compute.amazonaws.com:1880/api/v1/porfolio?element=UC&collateral=yes","info":"","x":390,"y":100,"wires":[]},{"id":"e4c6cd34.4e313","type":"function","z":"c934c02.2d4ed4","name":"Portfolio","func":"//msg.payload.helloText = 'Hello World!';\n\nvar portfolio = msg.payload.portfolio;\nvar collateral = msg.payload.collateral;\n\nnode.status({fill:\"green\",shape:\"ring\",text:\"Portolio activated\"});\n\n\n\nswitch (portfolio)\n{\n    case \"UC\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Workspaces For Tomorrow](http://www2.dimensiondata.com/en-be/digital-business/workspaces)\";\n        msg.payload.url2 = \"[Unified communications and collaboration](http://www.dimensiondata.com/en-BE/Solutions/Unified-Communications-and-Collaboration)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Unified Communications and Collaboration Development Model](http://www.dimensiondata.com/Global/Downloadable%20Documents/Unified%20Communications%20and%20Collaboration%20Development%20Model%20Brochure.pdf)\";\n        }\n        break;\n    case \"CX\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Workspaces For Tomorrow](http://www2.dimensiondata.com/en-be/digital-business/workspaces)\";\n        msg.payload.url2 = \"[Unified communications and collaboration](http://www.dimensiondata.com/en-BE/Solutions/Unified-Communications-and-Collaboration)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Unified Communications and Collaboration Development Model](http://www.dimensiondata.com/Global/Downloadable%20Documents/Unified%20Communications%20and%20Collaboration%20Development%20Model%20Brochure.pdf)\";\n        }\n        break;\n    case \"NI\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Networking](http://www.dimensiondata.com/en-BE/Solutions/Networking/)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Network optimisation assessment](http://www.dimensiondata.com/Global/Downloadable%20Documents/Network%20Optimisation%20Assessment%20Brochure.pdf)\";\n        }\n        break;\n    case \"SEC\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Cybersecurity](http://www2.dimensiondata.com/en-be/digital-business/cybersecurity)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Security consulting services and assessments services ](http://www.dimensiondata.com/Global/Downloadable%20Documents/Security%20Solutions%20Consulting%20Brochure.pdf)\";\n        }\n        break;\n    case \"DCS\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Datacentres](http://www.dimensiondata.com/en-BE/Solutions/Data-Centres/)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Hybrid cloud](http://www.dimensiondata.com/Global/Downloadable%20Documents/Dimension%20Data%20Hybrid%20Cloud%20Solutions%20Overview.pdf)\";\n        }\n        break;\n}\n\n\nnode.info('The portfolio resquested is ' + msg.payload.portfolio + ' has collateral: ' + msg.payload.collateral);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["20afc404.6eddfc","332da353.4d053c"]]},{"id":"332da353.4d053c","type":"debug","z":"c934c02.2d4ed4","name":"","active":true,"console":"false","complete":"false","x":490,"y":140,"wires":[]},{"id":"779d645f.7bd05c","type":"function","z":"8d708c79.f5c4b","name":"Demo or not","func":"node.log('The body is ' + msg.payload.Body);\nnode.warn('Message from ' + msg.payload.From + ' ==> ' + msg.payload.Body);\nif (msg.payload.From == \"+32479940612\")\n{\n    switch (msg.payload.Body){\n        case \"STATUS\":\n            node.status({fill:\"green\",shape:\"ring\",text:\"Last command was: \" + msg.payload.Body});\n            return [msg,null];\n        case \"FILL\":\n            node.status({fill:\"green\",shape:\"ring\",text:\"Last command was: \" + msg.payload.Body});\n            return [msg,null];\n        case \"EMPTY\":\n            node.status({fill:\"green\",shape:\"ring\",text:\"Last command was: \" + msg.payload.Body});\n            return [msg,null];\n        default:\n            return [null,msg];\n    }\n}\nelse\n{\n    console.error('Message received from unauthorised number: ' + msg.payload.From);\n    node.status({fill:\"red\",shape:\"ring\",text:\"Last command was unauthorised\"});\n}\n\n\nreturn msg;","outputs":"2","noerr":0,"x":370,"y":320,"wires":[["1c7ff79c.fac1d8","392aaff9.fbd1b"],["abcb7c01.acadd"]],"outputLabels":["good command","wrong command"]},{"id":"392aaff9.fbd1b","type":"debug","z":"8d708c79.f5c4b","name":"","active":false,"console":"false","complete":"true","x":550,"y":280,"wires":[]},{"id":"8fb36772.163a48","type":"debug","z":"8d708c79.f5c4b","name":"","active":true,"console":"false","complete":"true","x":350,"y":280,"wires":[]},{"id":"f6bd5d3a.bdce3","type":"http in","z":"8d708c79.f5c4b","name":"/incoming","url":"/incoming","method":"get","upload":false,"swaggerDoc":"","x":180,"y":320,"wires":[["8fb36772.163a48","db95a1e7.a0903","779d645f.7bd05c"]]},{"id":"3ceece57.7f5a02","type":"json","z":"8d708c79.f5c4b","name":"","pretty":false,"x":730,"y":320,"wires":[["c661094f.0e06a8","78982760.a4f2c8"]]},{"id":"db95a1e7.a0903","type":"http response","z":"8d708c79.f5c4b","name":"","statusCode":"","headers":{},"x":350,"y":360,"wires":[]},{"id":"c661094f.0e06a8","type":"debug","z":"8d708c79.f5c4b","name":"","active":false,"console":"false","complete":"false","x":890,"y":360,"wires":[]},{"id":"58eacd81.91e974","type":"debug","z":"bfe262e5.2706a","name":"Data","active":false,"console":"false","complete":"payload","x":810,"y":120,"wires":[]},{"id":"775f9506.5b74ac","type":"Meraki CMX","z":"bfe262e5.2706a","name":"","url":"/cmx2","settings":"166950c9.56ca6f","radioType":"All","x":390,"y":140,"wires":[["58eacd81.91e974","fa109e2e.e1026"],["c90361b6.ac7ed"]]},{"id":"36d47da9.b69e92","type":"debug","z":"bfe262e5.2706a","name":"Status: Data","active":false,"console":"false","complete":"true","x":790,"y":200,"wires":[]},{"id":"ec4efc9f.48591","type":"split","z":"bfe262e5.2706a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":630,"y":520,"wires":[["afd09c20.9c1b6"]]},{"id":"8f58e251.4487","type":"function","z":"bfe262e5.2706a","name":"Extract Observations","func":"// Flatten JSON\nmsg.type = msg.payload.type;\nmsg.apMac = msg.payload.data.apMac;\nmsg.apFloors = msg.payload.data.apFloors\nmsg.apTags = msg.payload.data.apTags;\nmsg.payload = msg.payload.data.observations;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["ec4efc9f.48591"]]},{"id":"afd09c20.9c1b6","type":"debug","z":"bfe262e5.2706a","name":"Observation","active":true,"console":"false","complete":"true","x":790,"y":520,"wires":[]},{"id":"c90361b6.ac7ed","type":"switch","z":"bfe262e5.2706a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"data","vt":"str"},{"t":"eq","v":"version","vt":"str"},{"t":"eq","v":"validator","vt":"str"},{"t":"eq","v":"secret","vt":"str"},{"t":"eq","v":"type","vt":"str"},{"t":"eq","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","outputs":7,"x":590,"y":300,"wires":[["36d47da9.b69e92"],["66015c33.2f8bc4"],["6b93db5b.541ea4"],["84f768b7.a5e0a8"],["6aef8aa9.42e004"],["f7ed4b40.b1eac8"],["efacf545.0dcd98"]]},{"id":"6b93db5b.541ea4","type":"debug","z":"bfe262e5.2706a","name":"Status: Validator","active":false,"console":"false","complete":"true","x":780,"y":280,"wires":[]},{"id":"84f768b7.a5e0a8","type":"debug","z":"bfe262e5.2706a","name":"Status: Secret","active":false,"console":"false","complete":"true","x":780,"y":320,"wires":[]},{"id":"6aef8aa9.42e004","type":"debug","z":"bfe262e5.2706a","name":"Status: Type","active":false,"console":"false","complete":"true","x":790,"y":360,"wires":[]},{"id":"f7ed4b40.b1eac8","type":"debug","z":"bfe262e5.2706a","name":"Status: Error","active":false,"console":"false","complete":"true","x":790,"y":400,"wires":[]},{"id":"efacf545.0dcd98","type":"debug","z":"bfe262e5.2706a","name":"Status: Otherwise","active":false,"console":"false","complete":"true","x":770,"y":440,"wires":[]},{"id":"fa109e2e.e1026","type":"link out","z":"bfe262e5.2706a","name":"Meraki Scanning","links":["41c1f598.3fc78c"],"x":575,"y":160,"wires":[]},{"id":"41c1f598.3fc78c","type":"link in","z":"bfe262e5.2706a","name":"Split Observations","links":["fa109e2e.e1026"],"x":360,"y":480,"wires":[["8f58e251.4487"]]},{"id":"90fed69d.b69ec8","type":"comment","z":"bfe262e5.2706a","name":"Workflow Examples","info":"","x":420,"y":440,"wires":[]},{"id":"66015c33.2f8bc4","type":"debug","z":"bfe262e5.2706a","name":"Status: Version","active":false,"console":"false","complete":"true","x":780,"y":240,"wires":[]},{"id":"257866ae.61152a","type":"comment","z":"bfe262e5.2706a","name":"Meraki Scanning Node - README","info":"Update the Meraki node with your Meraki Network's\nvalidator and secret","x":710,"y":60,"wires":[]},{"id":"362d305a.258fc","type":"link in","z":"8d708c79.f5c4b","name":"Post SMS message","links":["78982760.a4f2c8"],"x":455,"y":160,"wires":[["8ec0409d.fc6a2"]]},{"id":"78982760.a4f2c8","type":"link out","z":"8d708c79.f5c4b","name":"Receive SMS message","links":["362d305a.258fc"],"x":835,"y":320,"wires":[]}]