docker/archive/flows_aws.json
[{"id":"e6b398e5.3204f8","type":"tab","label":"Incoming SMS","disabled":false,"info":""},{"id":"fe3134f9.a9bb18","type":"tab","label":"Portfolio","disabled":false,"info":""},{"id":"42615936.02f6f8","type":"tab","label":"Storage","disabled":false,"info":""},{"id":"483ba45a.deac6c","type":"tab","label":"Location API","disabled":false,"info":"# Meraki Location Scanning API \n\nThis flow demonstrates the basic mechanics of\nthe Scanning API web service. It will provide\ntwo API endpoints to interact with the Meraki API.\n\n`[get] /scanning`\nResponds to Meraki with the `validator` to \nvalidate the receiver.\n\n`[post] /scanning`\nReceives observation data from a Meraki AP. \nThe data is compared against the `secret` to\nvalidate the sender.\n\nA **link** node is then used to demonstrate how the\ndata can be analyzed and routed. \n\nIt is now up to you to do something awesome with\nthis information. Add a map, database or IoT\ncontrol...\n\nhttp://developers.meraki.com\nhttp://www.InternetOfLEGO.com\n\n"},{"id":"dc6befa3.b9a2e","type":"tab","label":"Captive Portal","disabled":false,"info":"# Meraki External Captive Portal (ExCap)\n\nThis flow demonstrates the mechanics of working\nwith the Meraki Captive Portal API. \n\nThere are two \"Splash Page\" types with Meraki, \n**Click-through** and **Sign on**.\n\nThere are two flows to highlight the differences\nbut they may share common assets, such as a ToS.\n\n# Overview\n\n## Click-through\nThe click-through splash page simply expects\nto receive a request from Meraki which includes\nthe parameters of the authenticating client. It\nwill then parse the parameters, present a splash\npage and eventually redirect the client to \nthe `base_grant_url` once the form is submitted\n\n`[get] /excapClick`\nThe path Meraki will use as the **Custom Splash \nURL**\nThe client will see the splash page, which is \nprovided by the **HTML (template)** node.\n\n`[post] /excapClickLogin`\nThe URL that will be the web form's \"Action\".\nIt will then send the user form data to the flow\nand redirect the client to the `base_grant_url`.\n\n\n## Sign On\n\n`[get] /excapSignOn`\nThe path Meraki will use as the **Custom Splash\nURL**\nThe client will see the splash page, which is \nprovided by the **HTML (template)** node.\nThe form will include a Meraki provided `login_url`, which will\nbe set as the \"Action\" on the web form.\n\n`[post] /excapSuccess`\nThis path Meraki will use as the continue_url\nfor the client once they have succesfully logged\nin. Use this to have a final interaction with the\nclient.\n\n\n# Usage\n\nLogin to Meraki Dashboard and configure the \ncustom Splash Page URL to one of these methods.\n* http://yourserver:1880/excapClick\n* http://yourserver:1880/excapSignOn\n\nIf using Sign On, you must also configure WiFi \nUser accounts that are authorized for the SSID.\n\n# More Info\n\nhttps://meraki.cisco.com/lib/pdf/meraki_whitepaper_captive_portal.pdf\nhttp://developers.meraki.com\nhttp://www.InternetOfLEGO.com\n\n\n"},{"id":"f6e47447.250fa8","type":"tab","label":"Dashboard API - Admin Form","disabled":false,"info":"# Dashboard API - Admin Form\nA flow to create and administrator for a\nMeraki network. \n\n## Configure\n* Update the Environment Variables node\n**Env Variables: UPDATE THIS**\n\nYour API KEY (Keep this secret. Do not publish)\n```\nconst API_KEY = 'YourAPIKey'; \n```\n\nYour Shard number. https://n149.meraki.com , \nwhere n149 represent the shard number. \nYou can see this URL when you login to your Meraki Dashboard.\nThis is defined to avoid redirect issues.\n```\nvar shard = 'n149'; \n```\nYour Default Organization ID (optional)\n```\nvar orgId = ''; \n```\n\n# Usage\n\n`[get /meraki/admins]`\nPresents the web form.\n\nNavigate to\n* http://localhost:1880/meraki/admins\n\n\n# Verify\nIf the user was created properly, the web page\nwill display the committed details. You can\nverify the account in the Meraki Dashboard\n\n# More Info\n\nhttp://developers.meraki.com\nhttp://www.InternetOfLEGO.com\n\n\n\n\n\n\n\n\n\nThis flow can be adjusted to\nleaverage the many other API endpoints available.\n"},{"id":"98b218f0.7109e8","type":"tab","label":"Cisco Spark","disabled":false,"info":"# Cisco Spark API Demo\nCollects data from **input** nodes and sends it\nto a Spark room.\n\n# Configure\nUpdate the **function** node \"Spark Send Message (API) - UPDATE\"\n* Set Your Variables\n**Your Access Token**\n```\nvar accessToken = \"EnterYourAccessTokenHere\";\n```\n**Your Room ID**\n```\nvar roomId = \"EnterYourRoomIDHere\";\n```\n\n# Usage\nThe link nodes from other flows can be sent to \nthe \"Cisco Spark\" **link in* node. As messages\narrive, they will be sent to the Spark room. The\nmessages will typically be formatted before sending\nto adjust for the Spark message room layout.\n\n# More Info\n\nLearn about getting an accessToken and using their \nonline API console to obtain the roomId.\nhttps://developer.ciscospark.com/\n\nhttps://developer.ciscospark.com/"},{"id":"a0d28461.937488","type":"tab","label":"Messenger to FRED"},{"id":"ca4d473d.cefc08","type":"tab","label":"FRED to Watson"},{"id":"593f6ad7.dc8a24","type":"tab","label":"FRED to Walmart API"},{"id":"f55d4e02.373b2","type":"tab","label":"MERAKI NODE","disabled":false,"info":""},{"id":"9d12bae1.565368","type":"tab","label":"Worldmap","disabled":false,"info":""},{"id":"2af2ed50.ec8d72","type":"mqtt-broker","z":"","broker":"ec2-54-242-126-81.compute-1.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b278b325.add76","type":"mqtt-broker","z":"","broker":"ec2-54-245-6-218.us-west-2.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c0166689.1e61d8","type":"mongodb2","z":"","uri":"mongodb://localhost:27017","name":"storage","options":"","parallelism":""},{"id":"7b799f0b.1104d","type":"chatbot-telegram-node","z":"","botname":"sts-testing-bot","usernames":"","polling":"1000","log":""},{"id":"c4e0a8f2.1ee4e8","type":"chatbot-facebook-node","z":"","botname":"Deedee","usernames":"","log":""},{"id":"2ea94ebd.6847f2","type":"mqtt out","z":"e6b398e5.3204f8","name":"","topic":"pets/food/instruction","qos":"","retain":"","broker":"2af2ed50.ec8d72","x":580,"y":100,"wires":[]},{"id":"cfb33b3d.78d6c8","type":"inject","z":"e6b398e5.3204f8","name":"STATUS","topic":"","payload":"STATUS","payloadType":"str","repeat":"","crontab":"","once":false,"x":340,"y":80,"wires":[["2ea94ebd.6847f2"]]},{"id":"3e8f3f49.0ae0e","type":"inject","z":"e6b398e5.3204f8","name":"EMPTY","topic":"","payload":"EMPTY","payloadType":"str","repeat":"","crontab":"","once":false,"x":327.8999824523926,"y":167.40000581741333,"wires":[["2ea94ebd.6847f2"]]},{"id":"9455d0b7.29bfc","type":"inject","z":"e6b398e5.3204f8","name":"FILL","topic":"","payload":"FILL","payloadType":"str","repeat":"","crontab":"","once":false,"x":329.8999824523926,"y":122.40000534057617,"wires":[["2ea94ebd.6847f2"]]},{"id":"c7f4a0da.0fbaa","type":"debug","z":"e6b398e5.3204f8","name":"","active":false,"console":"false","complete":"false","x":570,"y":360,"wires":[]},{"id":"548939b4.3bdc58","type":"change","z":"e6b398e5.3204f8","name":"","rules":[{"t":"set","p":"originalpayload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"message","pt":"msg","to":"payload.Body","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["1756a960.e121e7"]]},{"id":"3091ab2e.46a3b4","type":"debug","z":"fe3134f9.a9bb18","name":"","active":true,"console":"false","complete":"true","x":290,"y":140,"wires":[]},{"id":"4fe856e7.d6f7c8","type":"http in","z":"fe3134f9.a9bb18","name":"/api/v1/porfolio","url":"/api/v1/porfolio/","method":"get","swaggerDoc":"","x":120,"y":180,"wires":[["3091ab2e.46a3b4","2179f2b8.9a56de"]]},{"id":"28ef2cb.85c31d4","type":"http response","z":"fe3134f9.a9bb18","name":"","x":470,"y":180,"wires":[]},{"id":"8161c065.06497","type":"comment","z":"fe3134f9.a9bb18","name":"http://ec2-54-245-6-218.us-west-2.compute.amazonaws.com:1880/api/v1/porfolio?element=UC&collateral=yes","info":"","x":390,"y":100,"wires":[]},{"id":"2179f2b8.9a56de","type":"function","z":"fe3134f9.a9bb18","name":"Portfolio","func":"//msg.payload.helloText = 'Hello World!';\n\nvar portfolio = msg.payload.portfolio;\nvar collateral = msg.payload.collateral;\n\nnode.status({fill:\"green\",shape:\"ring\",text:\"Portolio activated\"});\n\n\n\nswitch (portfolio)\n{\n    case \"UC\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Workspaces For Tomorrow](http://www2.dimensiondata.com/en-be/digital-business/workspaces)\";\n        msg.payload.url2 = \"[Unified communications and collaboration](http://www.dimensiondata.com/en-BE/Solutions/Unified-Communications-and-Collaboration)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Unified Communications and Collaboration Development Model](http://www.dimensiondata.com/Global/Downloadable%20Documents/Unified%20Communications%20and%20Collaboration%20Development%20Model%20Brochure.pdf)\";\n        }\n        break;\n    case \"CX\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Workspaces For Tomorrow](http://www2.dimensiondata.com/en-be/digital-business/workspaces)\";\n        msg.payload.url2 = \"[Unified communications and collaboration](http://www.dimensiondata.com/en-BE/Solutions/Unified-Communications-and-Collaboration)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Unified Communications and Collaboration Development Model](http://www.dimensiondata.com/Global/Downloadable%20Documents/Unified%20Communications%20and%20Collaboration%20Development%20Model%20Brochure.pdf)\";\n        }\n        break;\n    case \"NI\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Networking](http://www.dimensiondata.com/en-BE/Solutions/Networking/)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Network optimisation assessment](http://www.dimensiondata.com/Global/Downloadable%20Documents/Network%20Optimisation%20Assessment%20Brochure.pdf)\";\n        }\n        break;\n    case \"SEC\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Cybersecurity](http://www2.dimensiondata.com/en-be/digital-business/cybersecurity)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Security consulting services and assessments services ](http://www.dimensiondata.com/Global/Downloadable%20Documents/Security%20Solutions%20Consulting%20Brochure.pdf)\";\n        }\n        break;\n    case \"DCS\" :\n        msg.payload.portfolio = \"\";\n        msg.payload.url1 = \"[Datacentres](http://www.dimensiondata.com/en-BE/Solutions/Data-Centres/)\";\n        if (collateral === \"yes\")\n        {\n            msg.payload.collateral = \"[Hybrid cloud](http://www.dimensiondata.com/Global/Downloadable%20Documents/Dimension%20Data%20Hybrid%20Cloud%20Solutions%20Overview.pdf)\";\n        }\n        break;\n}\n\n\nnode.info('The portfolio resquested is ' + msg.payload.portfolio + ' has collateral: ' + msg.payload.collateral);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["28ef2cb.85c31d4","360f64ce.30d59c"]]},{"id":"360f64ce.30d59c","type":"debug","z":"fe3134f9.a9bb18","name":"","active":false,"console":"false","complete":"false","x":490,"y":140,"wires":[]},{"id":"ddac8792.680828","type":"function","z":"e6b398e5.3204f8","name":"Demo or not","func":"node.log('The body is ' + msg.payload.Body);\nnode.warn('Message from ' + msg.payload.From + ' ==> ' + msg.payload.Body);\nif (msg.payload.From == \"+32479940612\")\n{\n    switch (msg.payload.Body){\n        case \"STATUS\":\n            node.status({fill:\"green\",shape:\"ring\",text:\"Last command was: \" + msg.payload.Body});\n            return [msg,null];\n        case \"FILL\":\n            node.status({fill:\"green\",shape:\"ring\",text:\"Last command was: \" + msg.payload.Body});\n            return [msg,null];\n        case \"EMPTY\":\n            node.status({fill:\"green\",shape:\"ring\",text:\"Last command was: \" + msg.payload.Body});\n            return [msg,null];\n        default:\n            return [null,msg];\n    }\n}\nelse\n{\n    console.error('Message received from unauthorised number: ' + msg.payload.From);\n    node.status({fill:\"red\",shape:\"ring\",text:\"Last command was unauthorised\"});\n}\n\n\nreturn msg;","outputs":"2","noerr":0,"x":370,"y":320,"wires":[["548939b4.3bdc58","9832c5a3.c6c508"],["c7f4a0da.0fbaa"]],"outputLabels":["good command","wrong command"]},{"id":"9832c5a3.c6c508","type":"debug","z":"e6b398e5.3204f8","name":"","active":false,"console":"false","complete":"true","x":550,"y":280,"wires":[]},{"id":"9d57c7d4.c60b78","type":"debug","z":"e6b398e5.3204f8","name":"","active":true,"console":"false","complete":"true","x":350,"y":280,"wires":[]},{"id":"9340cf5d.3aaa9","type":"http in","z":"e6b398e5.3204f8","name":"/incoming","url":"/incoming","method":"get","upload":false,"swaggerDoc":"","x":180,"y":320,"wires":[["9d57c7d4.c60b78","9219cb43.213818","ddac8792.680828"]]},{"id":"1756a960.e121e7","type":"json","z":"e6b398e5.3204f8","name":"","pretty":false,"x":730,"y":320,"wires":[["5a7ce108.8cb12","3f1cde0f.f62bb2"]]},{"id":"9219cb43.213818","type":"http response","z":"e6b398e5.3204f8","name":"","statusCode":"","headers":{},"x":350,"y":360,"wires":[]},{"id":"dee06cc4.79a7","type":"debug","z":"42615936.02f6f8","name":"","active":true,"console":"false","complete":"payload","x":807,"y":360,"wires":[]},{"id":"82b6c39d.082c6","type":"inject","z":"42615936.02f6f8","name":"2) Output Separately for each Record","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":309,"y":263,"wires":[["f31ad562.a233f8"]]},{"id":"f79aa14f.dadff","type":"mongodb2 in","z":"42615936.02f6f8","service":"_ext_","configNode":"c0166689.1e61d8","name":"Mongo DB dynamic operation","collection":"","operation":"","x":467,"y":334,"wires":[["6463162d.b1af88"]]},{"id":"db26ef51.24ab1","type":"mongodb2 in","z":"42615936.02f6f8","service":"_ext_","configNode":"c0166689.1e61d8","name":"Mongo DB dynamic operation","collection":"sms","operation":"","x":477,"y":121,"wires":[["6463162d.b1af88"]]},{"id":"2fb46d78.9c2162","type":"inject","z":"42615936.02f6f8","name":"1) Find One only","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":243,"y":61,"wires":[["ef26173f.6eab08"]]},{"id":"ef26173f.6eab08","type":"function","z":"42615936.02f6f8","name":"findOne","func":" var newMsg = {};\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"x":269,"y":120,"wires":[["db26ef51.24ab1"]]},{"id":"30155ce4.9fbb44","type":"mongodb2 in","z":"42615936.02f6f8","service":"_ext_","configNode":"c0166689.1e61d8","name":"Store Data into MongoDB","collection":"","operation":"","x":600,"y":412,"wires":[["dee06cc4.79a7"]]},{"id":"f31ad562.a233f8","type":"function","z":"42615936.02f6f8","name":"find.forEach","func":"var newMsg = {};\nnewMsg.collection = 'names';\nnewMsg.operation  = 'find.forEach';\n//newMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.payload    = { 'name' : 'Pete1' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"x":249,"y":334,"wires":[["f79aa14f.dadff"]]},{"id":"6463162d.b1af88","type":"function","z":"42615936.02f6f8","name":"Just get name","func":"var newMsg = {};\nnewMsg.payload    = msg.payload.name;\nreturn newMsg;","outputs":1,"x":689,"y":181,"wires":[["dee06cc4.79a7"]]},{"id":"de16d48d.f95e98","type":"inject","z":"42615936.02f6f8","name":"4) Output once only as a list","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":281,"y":502,"wires":[["4306a06e.3d7c8"]]},{"id":"4306a06e.3d7c8","type":"function","z":"42615936.02f6f8","name":"find.toArray","func":"var newMsg = {};\nnewMsg.collection = 'names';\nnewMsg.operation  = 'find.toArray';\n//newMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.payload    = { 'name' : 'Pete1' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"x":245,"y":561,"wires":[["7765d4cd.ae26cc"]]},{"id":"7765d4cd.ae26cc","type":"mongodb2 in","z":"42615936.02f6f8","service":"_ext_","configNode":"c0166689.1e61d8","name":"Mongo DB dynamic operation","collection":"","operation":"","x":456,"y":561,"wires":[["82672b99.fc5008"]]},{"id":"82672b99.fc5008","type":"function","z":"42615936.02f6f8","name":"get names as a list","func":"// Outputs separate messages !!\n//var newMsg =[];\n//for (var i = 0; i < msg.payload.length; i++) { \n//newMsg.push({name: msg.payload[i].name}) };\n//return [ newMsg ];\n\n// Combines into a single list (or array)\nvar newMsg =[];\nfor (var i = 0; i < msg.payload.length; i++) {\n//newMsg.push({name:  msg.payload[i].name } ) };\nnewMsg.push(msg.payload[i].name) };\nmsg.payload = newMsg;\nreturn  msg;\n","outputs":1,"x":690,"y":561,"wires":[["dee06cc4.79a7"]]},{"id":"fa082a1a.3ea0e8","type":"inject","z":"42615936.02f6f8","name":"3) Enter data","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":230,"y":413,"wires":[["d07ff551.aaa128"]]},{"id":"d07ff551.aaa128","type":"function","z":"42615936.02f6f8","name":"insert (or delete)","func":"var newMsg = {};\nnewMsg.collection = 'names';\n//newMsg.operation  = 'deleteOne';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Smith4' };\nreturn newMsg;","outputs":1,"noerr":0,"x":391,"y":413,"wires":[["30155ce4.9fbb44"]]},{"id":"4cabe7d5.78f058","type":"function","z":"42615936.02f6f8","name":"build operation parameters: filter, update","func":"var filter = msg.payload;\nif (\"string\" == typeof filter) {\n  filter = JSON.parse(filter);\n}\n\nmsg.payload = [\n  filter,\n  {\n    \"$inc\": {\n      \"counter\": 1\n    }\n  }\n];\n\nreturn msg;\n","outputs":1,"x":452,"y":771.3999633789062,"wires":[["4fc53d1.ee35fc4"]]},{"id":"4fc53d1.ee35fc4","type":"mongodb2 in","z":"42615936.02f6f8","service":"_ext_","configNode":"","name":"","collection":"mycollection","operation":"findOneAndUpdate","x":558.3333435058594,"y":700.1777648925781,"wires":[["bb339e00.d88d8"]]},{"id":"bf20dffd.206b5","type":"inject","z":"42615936.02f6f8","name":"Inject filter","topic":"","payload":"{\"_id\":\"mydocument\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":217.5,"y":771.3999633789062,"wires":[["4cabe7d5.78f058"]]},{"id":"bb339e00.d88d8","type":"debug","z":"42615936.02f6f8","name":"","active":true,"console":"false","complete":"false","x":792,"y":772.3999633789062,"wires":[]},{"id":"50df115f.e86b7","type":"mongodb2 in","z":"42615936.02f6f8","service":"_ext_","configNode":"c0166689.1e61d8","name":"Store Data into MongoDB","collection":"sms","operation":"","x":606,"y":894.3999633789062,"wires":[[]]},{"id":"3539a54c.7c747a","type":"inject","z":"42615936.02f6f8","name":"3) Enter data","topic":"sms","payload":"{ x: 1 }","payloadType":"str","repeat":"","crontab":"","once":false,"x":236,"y":895.3999633789062,"wires":[["50df115f.e86b7"]]},{"id":"5a7ce108.8cb12","type":"debug","z":"e6b398e5.3204f8","name":"","active":false,"console":"false","complete":"false","x":890,"y":360,"wires":[]},{"id":"bec8e9d1.31da18","type":"debug","z":"483ba45a.deac6c","name":"scanning Data","active":true,"console":"false","complete":"true","x":620,"y":260,"wires":[]},{"id":"69fff12e.69f4d","type":"http in","z":"483ba45a.deac6c","name":"","url":"/scanning","method":"get","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["96f913d5.aea8","3db2dbfe.403ff4"]]},{"id":"96f913d5.aea8","type":"function","z":"483ba45a.deac6c","name":"validate-validator - UPDATE","func":"\n//Set the validator variable to match the Meraki network\n//The URL will not need to include the validator string, for enhanced security\n//~~~~~~~~~\nvalidator = \"yourValidatorKey\";\n\n// For testing purposes:\n// This validator accepts a message with the validator defined in the URL\n// Example: http://yourserver:1880/cmx?validator=8e0846499d9a3f6d23f7bogusd55b9d6325035f5\n\n//~~~~~~~~~\n//validator = msg.payload.validator;\n\n\nmsg.payload = validator;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["a9d98700.64a7d8","f98741ff.88706"]]},{"id":"a9d98700.64a7d8","type":"http response","z":"483ba45a.deac6c","name":"scanning response","statusCode":"","headers":{},"x":610,"y":120,"wires":[]},{"id":"3db2dbfe.403ff4","type":"debug","z":"483ba45a.deac6c","name":"scanning validator raw","active":true,"console":"false","complete":"payload","x":340,"y":160,"wires":[]},{"id":"3e00f5a9.6352ba","type":"comment","z":"483ba45a.deac6c","name":"Location API core mechanics","info":"CMX/Location API core functions","x":140,"y":80,"wires":[]},{"id":"f98741ff.88706","type":"debug","z":"483ba45a.deac6c","name":"scanning Validator","active":true,"console":"false","complete":"payload","x":610,"y":160,"wires":[]},{"id":"1f268f40.0768f1","type":"function","z":"483ba45a.deac6c","name":"validate-secret - UPDATE","func":"// This node verifies that the secrect configured\n// on the Meraki Dashboard Network, matches.\n//var secret = \"merakilous\"; \nvar secret = \"supersecret\";\n\nif(msg.payload.secret == secret){\n    return msg;\n}else{\n    // Secret is invalid\n    \n}\n\n","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["bec8e9d1.31da18","3ce58946.bb4726","fb0500ad.d3262"]]},{"id":"18f61c6.869eee4","type":"debug","z":"483ba45a.deac6c","name":"scanning post","active":false,"console":"false","complete":"payload","x":320,"y":260,"wires":[]},{"id":"3ce58946.bb4726","type":"http response","z":"483ba45a.deac6c","name":"cmx response","x":600,"y":220,"wires":[]},{"id":"86bc5a6d.626b88","type":"comment","z":"483ba45a.deac6c","name":"Meraki Location API - Using Native Nodes -- README","info":"This flow demonstrates how to interact with the\nMeraki CMX (Scanning) Location API.\n\n# Be sure to update the validator and secret\n\nThe \"CMX core functions\" consist of two REST endpoints.\nThe 'get' enpoint waits to hear from Meraki,\nwhich will send a request to this server. The flow will \nthen respond with the \"validator\", which was defined in \nthe Meraki Dashboard. If the correct validator is returned, \nMeraki has confirmed that it is sending location data to \nthe correct server.\n\nThe second enpoint accepts 'post' requests, which will\nbe receiving the JSON structured location data from Meraki.\n\nOnce the data has arrived in the `msg.payload`, the results\nwill be stored in a local MongoDB database if the supplied secret\nmatches what's defined in the global variables. This is to ensure\nthat it is in fact Meraki sending this data. \n\nThe data can then be retrieved by opening the other 'get' endpoints, such \nas /showcmxNative.\n\n","x":461,"y":27,"wires":[]},{"id":"65c3c75.70c6538","type":"debug","z":"dc6befa3.b9a2e","name":"excapSignOn raw data","active":true,"console":"false","complete":"payload","x":200,"y":480,"wires":[]},{"id":"2ef16897.d9f008","type":"http in","z":"dc6befa3.b9a2e","name":"","url":"/excapSignOn","method":"get","swaggerDoc":"","x":150,"y":440,"wires":[["65c3c75.70c6538","652ab3e8.0ffa1c"]]},{"id":"fb1c25a2.98a938","type":"http response","z":"dc6befa3.b9a2e","name":"","x":770,"y":160,"wires":[]},{"id":"48b946fe.e3b618","type":"http in","z":"dc6befa3.b9a2e","name":"","url":"/excapClick","method":"get","swaggerDoc":"","x":140,"y":120,"wires":[["7e87ed46.6dff04","63e02d81.b511d4"]]},{"id":"28ed8c27.fa90c4","type":"http response","z":"dc6befa3.b9a2e","name":"","x":770,"y":480,"wires":[]},{"id":"523734db.be98dc","type":"template","z":"dc6befa3.b9a2e","name":"HTML Login Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n{{{payload.css}}}\n\n\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n    <title>Registration Form</title>\n\n</head>\n<body>\n\n    \n\n\n    <div class=\"main-content\">\n    <form class=\"form-register\" method=POST action={{payload.login_url}} />\n        <input type=\"hidden\" name=\"continue_url\" value={{payload.continue_url}} />\n        <input type=\"hidden\" name=\"host\" value ={{host}}>\n        <input type=\"hidden\" name=\"base_grant_url\" value = {{payload.base_grant_url}}/>\n        <input type=\"hidden\" name=\"user_continue_url\" value = {{payload.user_continue_url}}/>\n        <input type=\"hidden\" name=\"node_mac\" value = {{payload.node_mac}}/>\n        <input type=\"hidden\" name=\"client_ip\" value = {{payload.client_ip}}/>\n        <input type=\"hidden\" name=\"client_mac\" value = {{payload.client_mac}}/>\n        <input type=\"hidden\" name=\"success_url\" value={{payload.continue_url}} />\n\n            <div class=\"form-register-with-email\">\n\n                <div class=\"form-white-background\">\n\n                    <div class=\"form-title-row\">\n                        <h1>Login to WiFi</h1>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Email</span>\n                            <input type=\"email\" name=\"email\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Password</span>\n                            <input type=\"password\" name=\"password\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label class=\"form-checkbox\">\n                            <input type=\"checkbox\" name=\"checkbox\" checked value=\"accepted\" required>\n                            <span>I agree to the <a href=\"/excapTerms\" target\"_blank\">terms and conditions</a></span>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <button type=\"submit\">Register</button>\n                    </div>\n\n                </div>\n\n            </div>\n\n            <!-- Future Social Features\n            <div class=\"form-sign-in-with-social\">\n\n                <div class=\"form-row form-title-row\">\n                    <span class=\"form-title\">Sign in with</span>\n                </div>\n\n                <a href=\"#\" class=\"form-google-button\">Google</a>\n                <a href=\"#\" class=\"form-facebook-button\">Facebook</a>\n                <a href=\"#\" class=\"form-twitter-button\">Twitter</a>\n                \n\n            </div>\n            -->\n\n        </form>\n                Your IP: {{payload.client_ip}}\n                <br>\n                Your MAC: {{payload.client_mac}}\n\n    </div>\n\n</body>\n\n</html>","x":570,"y":480,"wires":[["28ed8c27.fa90c4"]]},{"id":"7e87ed46.6dff04","type":"function","z":"dc6befa3.b9a2e","name":"Set login_url","func":"msg.payload.login_url = msg.payload.base_grant_url + '?continue_url=' + msg.payload.user_continue_url;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["1c0d9470.9b22bc"]]},{"id":"63e02d81.b511d4","type":"debug","z":"dc6befa3.b9a2e","name":"excapClick raw data","active":true,"console":"false","complete":"payload","x":200,"y":160,"wires":[]},{"id":"976576dd.6f1458","type":"comment","z":"dc6befa3.b9a2e","name":"Meraki Click-through, read more...","info":"Configure by placing this host server address\nfollowed by /excapClick in the Custom Splash Page URL\nsection of the Meraki Dashboard.\n\nie. https://yourserver:1880/excapClick\n\nBe sure to update the \"walled garden\" in the \nMeraki Dashboard with the IP address of your \nserver and any other resources required before\nlogin, such as your website, images, CSS, etc.\n\nThe HTML page can be modified as needed. \n","x":173,"y":79,"wires":[]},{"id":"c4ce8867.855a38","type":"comment","z":"dc6befa3.b9a2e","name":"Meraki Sign-on, read more...","info":"Configure by placing this host server address\nfollowed by /excapClick in the Custom Splash Page URL\nsection of the Meraki Dashboard.\n\nie. https://yourserver:1880/excapSignOn\n\nBe sure to update the \"walled garden\" in the \nMeraki Dashboard with the IP address of your \nserver and any other resources required before\nlogin, such as your website, images, CSS, etc.\n\n","x":159,"y":396,"wires":[]},{"id":"64f59e8e.5d9b6","type":"template","z":"dc6befa3.b9a2e","name":"HTML Splash Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n{{{payload.css}}}\n\n\n\t<meta charset=\"utf-8\">\n\t<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n\t<title>Registration Form</title>\n\n</head>\n<body>\n\n\t\n\n\n    <div class=\"main-content\">\n\n        <form class=\"form-register\" method=POST action=\"/excapClickLogin\">\n                <input type=\"hidden\" name=\"continue_url\" value={{payload.continue_url}} />\n                <input type=\"hidden\" name=\"host\" value ={{host}}>\n                <input type=\"hidden\" name=\"base_grant_url\" value = {{payload.base_grant_url}}/>\n                <input type=\"hidden\" name=\"user_continue_url\" value = {{payload.user_continue_url}}/>\n                <input type=\"hidden\" name=\"node_mac\" value = {{payload.node_mac}}/>\n                <input type=\"hidden\" name=\"client_ip\" value = {{payload.client_ip}}/>\n                <input type=\"hidden\" name=\"client_mac\" value = {{payload.client_mac}}/>\n            \n            <div class=\"form-register-with-email\">\n\n                <div class=\"form-white-background\">\n\n                    <div class=\"form-title-row\">\n                        <h1>Login to WiFi</h1>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Name</span>\n                            <input type=\"text\" name=\"name\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Email</span>\n                            <input type=\"email\" name=\"email\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label class=\"form-checkbox\">\n                            <input type=\"checkbox\" name=\"checkbox\" checked value=\"accepted\" required>\n                            <span>I agree to the <a href=\"/excapTerms\" target\"_blank\">terms and conditions</a></span>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <button type=\"submit\">Register</button>\n                    </div>\n\n                </div>\n\n            </div>\n\n            <!-- Future Social Features\n            <div class=\"form-sign-in-with-social\">\n\n                <div class=\"form-row form-title-row\">\n                    <span class=\"form-title\">Sign in with</span>\n                </div>\n\n                <a href=\"#\" class=\"form-google-button\">Google</a>\n                <a href=\"#\" class=\"form-facebook-button\">Facebook</a>\n                <a href=\"#\" class=\"form-twitter-button\">Twitter</a>\n                \n\n            </div>\n            -->\n\n        </form>\n                Your IP: {{payload.client_ip}}\n                <br>\n                Your MAC: {{payload.client_mac}}\n\n    </div>\n\n</body>\n\n</html>\n\n","x":570,"y":160,"wires":[["fb1c25a2.98a938"]]},{"id":"afeb53da.c8b7f","type":"http in","z":"dc6befa3.b9a2e","name":"","url":"/excapClickLogin","method":"post","swaggerDoc":"","x":160,"y":220,"wires":[["aca2d8bb.3edc88","67f2e9b0.867c28","b6a948b6.fe9fb8"]]},{"id":"aca2d8bb.3edc88","type":"function","z":"dc6befa3.b9a2e","name":"Process login with 302 redirect","func":"// check if client has connected properly and received response from AP\nif (msg.payload.base_grant_url){\n    msg.statusCode = 302;\n    msg.headers = {\n      'Location': msg.payload.base_grant_url + '?continue_url=' + msg.payload.user_continue_url\n      //add other headers here...\n    };\n}else{\n    // error: send client back to login\n    msg.statusCode = 302;\n    msg.headers = {\n      'Location': '/excapNotConnected'\n      //add other headers here...\n    };\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["30218254.d2ca3e","482db756.7ec748"]]},{"id":"30218254.d2ca3e","type":"http response","z":"dc6befa3.b9a2e","name":"","x":770,"y":220,"wires":[]},{"id":"67f2e9b0.867c28","type":"debug","z":"dc6befa3.b9a2e","name":"excapClick Login data","active":true,"console":"false","complete":"payload","x":200,"y":260,"wires":[]},{"id":"3d6c69da.37b2b6","type":"comment","z":"dc6befa3.b9a2e","name":"Store form data - read more...","info":"The login data now can be sent somehwere to be \nlogged. A link node is attached to easily use\nthis data in other parts of the flow.","x":500,"y":260,"wires":[]},{"id":"795477c7.b7e498","type":"comment","z":"dc6befa3.b9a2e","name":"Terms and Conditions","info":"","x":144,"y":750,"wires":[]},{"id":"aa38672c.7ac048","type":"comment","z":"dc6befa3.b9a2e","name":"Success","info":"","x":106,"y":538,"wires":[]},{"id":"2862f7f1.39bf38","type":"http in","z":"dc6befa3.b9a2e","name":"","url":"/excapTerms","method":"get","swaggerDoc":"","x":150,"y":800,"wires":[["2f51a43f.bda2dc"]]},{"id":"efcb796.7980388","type":"http response","z":"dc6befa3.b9a2e","name":"","x":790,"y":840,"wires":[]},{"id":"3e4e6cd3.107374","type":"template","z":"dc6befa3.b9a2e","name":"HTML Terms and Conditions","field":"payload","format":"handlebars","template":"<head>\n    <title>Terms and Conditions</title>\n{{{payload}}}\n</head>\n<body>\n    <div class=\"container\">\n    <h1>Terms and Conditions</h1>\n    <ul>\n        <li>Please use our network responsibly. </li>\n        <li>Your computer's MAC and IP address will be logged.</li>\n    </ul>\n    </div>\n</body>\n\n\n","x":600,"y":840,"wires":[["efcb796.7980388"]]},{"id":"684ada90.570424","type":"http in","z":"dc6befa3.b9a2e","name":"","url":"/excapSuccess","method":"get","swaggerDoc":"","x":150,"y":580,"wires":[["eae51c17.c478f"]]},{"id":"94e2fed3.71b7c","type":"http response","z":"dc6befa3.b9a2e","name":"","x":790,"y":620,"wires":[]},{"id":"858ec5aa.49ff98","type":"template","z":"dc6befa3.b9a2e","name":"HTML Success","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <title>Success!</title>\n{{{payload.css}}}\n</head>\n<body>\n    <div class=\"container\">\n    <center><h1>Success!</h1>\n    <h2>You can now use the network.</h2>\n    </center>\n    </div>\n</body>\n\n\n","x":560,"y":620,"wires":[["94e2fed3.71b7c"]]},{"id":"d02ffab9.d1f888","type":"comment","z":"dc6befa3.b9a2e","name":"Error: Not connected to AP","info":"","x":160,"y":873,"wires":[]},{"id":"a78504b8.d85148","type":"http in","z":"dc6befa3.b9a2e","name":"","url":"/excapNotConnected","method":"get","swaggerDoc":"","x":170,"y":920,"wires":[["ef27c73d.980e98"]]},{"id":"67f27d5c.427614","type":"http response","z":"dc6befa3.b9a2e","name":"","x":790,"y":960,"wires":[]},{"id":"e06c2643.d68748","type":"template","z":"dc6befa3.b9a2e","name":"HTML Terms and Conditions","field":"payload","format":"handlebars","template":"<head>\n    <title>Error: Not Connected</title>\n{{{payload}}}\n</head>\n<body>\n    <div class=\"container\">\n    <h1>Error: Not Connected</h1>\n    <p>\n        Hmm, somethings not right. It appears you\n        are not connected to the correct wireless network.\n    </p>\n    </div>\n</body>\n\n\n","x":600,"y":960,"wires":[["67f27d5c.427614"]]},{"id":"c6739860.5452a8","type":"comment","z":"dc6befa3.b9a2e","name":"Cisco Meraki ExCap Service","info":"More information about the Meraki ExCap API:\nhttps://meraki.cisco.com/lib/pdf/meraki_whitepaper_captive_portal.pdf\n\nEnjoy!\n\nWritten by Cory Guynn, 2015.\nConsulting Engineer @ https://meraki.cisco.com/\nTechnical Blogger @ http://www.InternetOfLego.com","x":438.5,"y":31,"wires":[]},{"id":"1c0d9470.9b22bc","type":"template","z":"dc6befa3.b9a2e","name":"CSS Style","field":"payload.css","fieldType":"msg","format":"html","syntax":"mustache","template":"<style>\nhtml{\n    background-color: #f3f3f3;\n}\n\n.form-register{\n    max-width: 1000px;\n    width: 100%;\n    margin: 0 auto;\n\n    font: bold 14px sans-serif;\n    text-align: center;\n}\n\n.form-register-with-email{\n    position: relative;\n    display: inline-block;\n    vertical-align: top;\n    margin-right: 130px;\n    text-align: center;\n}\n\n.form-register-with-email .form-white-background{\n    width: 570px;\n    box-sizing: border-box;\n    background-color: #ffffff;\n    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);\n    padding: 60px 80px;\n    margin-bottom: 35px;\n}\n\n.form-register-with-email .form-row{\n    text-align: left;\n    margin-bottom: 23px;\n}\n\n.form-register-with-email .form-title-row{\n    text-align: center;\n    margin-bottom: 50px;\n}\n\n.form-register-with-email h1{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 0 20px 15px;\n    border-bottom: 2px solid #6caee0;\n    margin: 0;\n}\n\n.form-register-with-email .form-row > label span{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #5f5f5f;\n    width: 125px;\n    text-align: right;\n    padding-right: 25px;\n}\n\n.form-register-with-email input{\n    color:  #5f5f5f;\n    box-sizing: border-box;\n    width: 230px;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 12px 18px;\n    border: 1px solid #dbdbdb;\n}\n\n.form-register-with-email .form-checkbox input{\n    margin-left: 128px;\n    margin-right: 10px;\n    width: auto;\n    vertical-align: top;\n}\n\n.form-register-with-email .form-row .form-checkbox span{\n    font-size: 12px;\n    font-weight: normal;\n    display: inline-block;\n    text-align: left;\n    width: 220px;\n    margin: 0;\n}\n\n.form-register-with-email .form-checkbox span a{\n    text-decoration: none;\n    color:  #6caee0;\n}\n\n.form-register-with-email button{\n    display: block;\n    border-radius: 2px;\n    background-color:  #6caee0;\n    color: #ffffff;\n    font-weight: bold;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 15px 35px;\n    border: 0;\n    margin: 55px auto 0;\n    cursor: pointer;\n}\n\n.form-register-with-email .form-log-in-with-existing{\n    text-decoration: none;\n    padding: 4px 8px;\n    font-weight: normal;\n    color: #7b9d62;\n    background-color: #d6f0c3;\n}\n\n\n.form-sign-in-with-social{\n    display: inline-block;\n    max-width: 180px;\n    box-sizing: border-box;\n    vertical-align: top;\n    text-align: center;\n    margin-top: 100px;\n}\n\n.form-sign-in-with-social .form-title-row{\n    margin-bottom: 50px;\n}\n\n.form-sign-in-with-social .form-title{\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 15px 20px;\n    border-bottom: 2px solid #6caee0;\n}\n\n.form-sign-in-with-social .form-google-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(222, 110, 60, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-facebook-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(75, 136, 194, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-twitter-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(123, 195, 226, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n/*\tMaking the form responsive. Remove these media queries\n    if you don't need the form to work on mobile devices. */\n\n@media (max-width: 900px) {\n\n    .form-register{\n        margin: 20px auto;\n    }\n\n    .form-register-with-email{\n        position: relative;\n        display: block;\n        margin: 0;\n    }\n\n    .form-register-with-email .form-white-background{\n        margin: 0 auto 32px;\n    }\n\n\n\n    .form-sign-in-with-social {\n        margin-top: 105px;\n    }\n\n}\n\n@media (max-width: 600px) {\n\n    .form-register-with-email .form-white-background{\n        width: 300px;\n        padding-left: 35px;\n        padding-right: 35px;\n    }\n\n    .form-register-with-email .form-row > label span{\n        display: block;\n        text-align: left;\n        padding: 0 0 10px;\n    }\n\n    .form-register-with-email input{\n        display: block;\n        margin: 0 auto;\n    }\n\n    .form-register-with-email .form-checkbox input{\n        display: inline-block;\n        margin-left: 0;\n    }\n\n    .form-register-with-email .form-checkbox span{\n        width: 200px !important;\n    }\n\n    .form-register-with-email:after{\n        bottom: -80px;\n        left: 50%;\n        margin-left: -25px;\n    }\n\n}\n</style>","x":540,"y":120,"wires":[["64f59e8e.5d9b6"]]},{"id":"652ab3e8.0ffa1c","type":"template","z":"dc6befa3.b9a2e","name":"CSS Style","field":"payload.css","fieldType":"msg","format":"html","syntax":"mustache","template":"<style>\nhtml{\n    background-color: #f3f3f3;\n}\n\n.form-register{\n    max-width: 1000px;\n    width: 100%;\n    margin: 0 auto;\n\n    font: bold 14px sans-serif;\n    text-align: center;\n}\n\n.form-register-with-email{\n    position: relative;\n    display: inline-block;\n    vertical-align: top;\n    margin-right: 130px;\n    text-align: center;\n}\n\n.form-register-with-email .form-white-background{\n    width: 570px;\n    box-sizing: border-box;\n    background-color: #ffffff;\n    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);\n    padding: 60px 80px;\n    margin-bottom: 35px;\n}\n\n.form-register-with-email .form-row{\n    text-align: left;\n    margin-bottom: 23px;\n}\n\n.form-register-with-email .form-title-row{\n    text-align: center;\n    margin-bottom: 50px;\n}\n\n.form-register-with-email h1{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 0 20px 15px;\n    border-bottom: 2px solid #6caee0;\n    margin: 0;\n}\n\n.form-register-with-email .form-row > label span{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #5f5f5f;\n    width: 125px;\n    text-align: right;\n    padding-right: 25px;\n}\n\n.form-register-with-email input{\n    color:  #5f5f5f;\n    box-sizing: border-box;\n    width: 230px;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 12px 18px;\n    border: 1px solid #dbdbdb;\n}\n\n.form-register-with-email .form-checkbox input{\n    margin-left: 128px;\n    margin-right: 10px;\n    width: auto;\n    vertical-align: top;\n}\n\n.form-register-with-email .form-row .form-checkbox span{\n    font-size: 12px;\n    font-weight: normal;\n    display: inline-block;\n    text-align: left;\n    width: 220px;\n    margin: 0;\n}\n\n.form-register-with-email .form-checkbox span a{\n    text-decoration: none;\n    color:  #6caee0;\n}\n\n.form-register-with-email button{\n    display: block;\n    border-radius: 2px;\n    background-color:  #6caee0;\n    color: #ffffff;\n    font-weight: bold;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 15px 35px;\n    border: 0;\n    margin: 55px auto 0;\n    cursor: pointer;\n}\n\n.form-register-with-email .form-log-in-with-existing{\n    text-decoration: none;\n    padding: 4px 8px;\n    font-weight: normal;\n    color: #7b9d62;\n    background-color: #d6f0c3;\n}\n\n\n.form-sign-in-with-social{\n    display: inline-block;\n    max-width: 180px;\n    box-sizing: border-box;\n    vertical-align: top;\n    text-align: center;\n    margin-top: 100px;\n}\n\n.form-sign-in-with-social .form-title-row{\n    margin-bottom: 50px;\n}\n\n.form-sign-in-with-social .form-title{\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 15px 20px;\n    border-bottom: 2px solid #6caee0;\n}\n\n.form-sign-in-with-social .form-google-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(222, 110, 60, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-facebook-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(75, 136, 194, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-twitter-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(123, 195, 226, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n/*\tMaking the form responsive. Remove these media queries\n    if you don't need the form to work on mobile devices. */\n\n@media (max-width: 900px) {\n\n    .form-register{\n        margin: 20px auto;\n    }\n\n    .form-register-with-email{\n        position: relative;\n        display: block;\n        margin: 0;\n    }\n\n    .form-register-with-email .form-white-background{\n        margin: 0 auto 32px;\n    }\n\n\n\n    .form-sign-in-with-social {\n        margin-top: 105px;\n    }\n\n}\n\n@media (max-width: 600px) {\n\n    .form-register-with-email .form-white-background{\n        width: 300px;\n        padding-left: 35px;\n        padding-right: 35px;\n    }\n\n    .form-register-with-email .form-row > label span{\n        display: block;\n        text-align: left;\n        padding: 0 0 10px;\n    }\n\n    .form-register-with-email input{\n        display: block;\n        margin: 0 auto;\n    }\n\n    .form-register-with-email .form-checkbox input{\n        display: inline-block;\n        margin-left: 0;\n    }\n\n    .form-register-with-email .form-checkbox span{\n        width: 200px !important;\n    }\n\n    .form-register-with-email:after{\n        bottom: -80px;\n        left: 50%;\n        margin-left: -25px;\n    }\n\n}\n</style>","x":540,"y":440,"wires":[["523734db.be98dc"]]},{"id":"eae51c17.c478f","type":"template","z":"dc6befa3.b9a2e","name":"CSS Style","field":"payload.css","fieldType":"msg","format":"html","syntax":"mustache","template":"<style type=\"text/css\">\n.container{\n    max-width: 500px;\n    padding: 10px 20px;\n    background: #f4f7f8;\n    margin: 10px auto;\n    padding: 20px;\n    background: #f4f7f8;\n    border-radius: 8px;\n    font-family: Georgia, \"Times New Roman\", Times, serif;\n}\n</style>","x":540,"y":580,"wires":[["858ec5aa.49ff98"]]},{"id":"2f51a43f.bda2dc","type":"template","z":"dc6befa3.b9a2e","name":"CSS Style","field":"payload","format":"html","template":"<style type=\"text/css\">\n.container{\n    max-width: 500px;\n    padding: 10px 20px;\n    background: #f4f7f8;\n    margin: 10px auto;\n    padding: 20px;\n    background: #f4f7f8;\n    border-radius: 8px;\n    font-family: Georgia, \"Times New Roman\", Times, serif;\n}\n</style>","x":540,"y":800,"wires":[["3e4e6cd3.107374"]]},{"id":"ef27c73d.980e98","type":"template","z":"dc6befa3.b9a2e","name":"CSS Style","field":"payload","format":"html","template":"<style type=\"text/css\">\n.container{\n    max-width: 500px;\n    padding: 10px 20px;\n    background: #f4f7f8;\n    margin: 10px auto;\n    padding: 20px;\n    background: #f4f7f8;\n    border-radius: 8px;\n    font-family: Georgia, \"Times New Roman\", Times, serif;\n}\n</style>","x":540,"y":920,"wires":[["e06c2643.d68748"]]},{"id":"e099cb11.238d08","type":"comment","z":"dc6befa3.b9a2e","name":"Supporting Pages","info":"","x":95,"y":689,"wires":[]},{"id":"482db756.7ec748","type":"debug","z":"dc6befa3.b9a2e","name":"Process Login","active":true,"console":"false","complete":"payload","x":740,"y":260,"wires":[]},{"id":"650edde6.b51cb4","type":"inject","z":"f6e47447.250fa8","name":"Create Admin","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":460,"wires":[["9c97d605.e89dc8"]]},{"id":"d02d5185.e4a91","type":"http request","z":"f6e47447.250fa8","name":"","method":"use","ret":"obj","url":"","tls":"","x":810,"y":500,"wires":[["725a9bf4.3fb224","6e983822.4e31a8","a707e715.538d68"]]},{"id":"725a9bf4.3fb224","type":"debug","z":"f6e47447.250fa8","name":"Create Meraki Admin","active":true,"console":"false","complete":"payload","x":800,"y":560,"wires":[]},{"id":"52c81b85.c20954","type":"http in","z":"f6e47447.250fa8","name":"","url":"/meraki/admins","method":"get","swaggerDoc":"","x":110,"y":220,"wires":[["7e4a6c32.83efc4"]]},{"id":"7e4a6c32.83efc4","type":"function","z":"f6e47447.250fa8","name":"msg.url = \"/meraki/newAdmin\";","func":"msg.url = \"/meraki/newAdmin\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["a85d269c.1b12a8"]]},{"id":"79711768.00bd88","type":"template","z":"f6e47447.250fa8","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=email], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 50%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv form {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n\n.adminform {\n    width: 90%;\n}\n","x":370,"y":300,"wires":[["aca2a8e2.7f0568"]]},{"id":"a85d269c.1b12a8","type":"template","z":"f6e47447.250fa8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"\n$(document).ready(function(e) {\n    \n    \n    $.ajax({\n        url: 'api/organizations',\n        type: 'get',\n        datatype: 'json',\n        success: function(data){\n            var toAppend = '';\n            //if(typeof data === 'object'){\n                for(var i=0;i<data.length;i++){\n                    toAppend += '<option value='+data[i][\"id\"]+'>'+data[i]['name']+'</option>';\n                }\n            //}\n            console.log(\"orgs toAppend\",toAppend);\n            $('#orgs').append(toAppend);\n        }\n    });\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        var orgId = $(\"#orgs\").val();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url+\"/\"+orgId, \n            type: form_method,       \n            data: form_data,     \n            cache: false,\n            success: function(data){\n                \n                // Create simple HTML response\n                var response = \n                    \"<div>\"+\n                        \"<h2>Created Admin!</h2>\"+\n                        \"<h4>Name</h4><p>\"+data.name+\"</p>\"+\n                        \"<h4>E-Mail</h4><p>\"+data.email+\"</p>\"+\n                        \"<h4>ID</h4><p>\"+data.id+\"</p>\"+\n                        \"<h4>Tags</h4><p>\"+data.tags+\"</p>\"+\n                        \"<h4>Org Access</h4><p>\"+data.orgAccess+\"</p>\"+\n                    \"</div>\";\n                \n                console.log(\"response: \"+JSON.stringify(data));\n                \n                \n                $(\"#result\").html(response); \n                \n                $(\"#loadingimg\").hide();\n                $( '#createadmin' ).each(function(){\n                    this.reset();\n                });\n            },\n            error: function(error){\n                $(\"#result\").html(error.responseText);\n            }\n        });    \n        \n    });\n    \n});","x":390,"y":260,"wires":[["79711768.00bd88"]]},{"id":"27c34dec.233672","type":"comment","z":"f6e47447.250fa8","name":"Create Admin Form","info":"","x":110,"y":140,"wires":[]},{"id":"d50e1d20.59005","type":"comment","z":"f6e47447.250fa8","name":"Form Submission URL","info":"","x":420,"y":180,"wires":[]},{"id":"e5cc2fa.0d130d","type":"http response","z":"f6e47447.250fa8","name":"","x":710,"y":220,"wires":[]},{"id":"aca2a8e2.7f0568","type":"template","z":"f6e47447.250fa8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Meraki Dasbhoard API - Admin User</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <!--\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    -->\n    <script\n      src=\"https://code.jquery.com/jquery-3.2.1.min.js\"\n      integrity=\"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=\"\n      crossorigin=\"anonymous\"></script>\n      \n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">  \n    <script>{{{payload.jquery}}}</script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n<div class=\"container\">\n    <h2>Create a Meraki Dashboard Administrator</h2>\n    <h4><a href=\"http://developers.meraki.com\">Meraki Developers Portal</a></h4>\n\n<div class=\"col-md-6\">\n<div class=\"adminform\">\n  <form id=\"createadmin\" method=\"post\" action=\"{{url}}\" ajax=\"true\">\n    <select id=\"orgs\" name=\"orgs\">\n        <option>Select Organization..</option>\n    </select>\n    <label>Contact Details</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\" placeholder=\"First Name\" required=true/>\n    <input type=\"text\" id=\"lname\" name=\"lastname\" placeholder=\"Last Name\" required=true/>\n    <input type=\"email\" id=\"email\" name=\"email\" placeholder=\"E-mail\" required=true/>\n    <br>\n\n    <label>Organization Permissions</label>\n    <select id=\"orgAccess\" name=\"orgAccess\" placeholder=\"Org Access\">\n      <option value=\"full\">full</option>\n      <option value=\"read-only\">read-only</option>\n    </select>\n    \n  \n    <input type=\"submit\" class=\"button\" value=\"Submit\">\n  </form>\n</div>\n</div>\n\n<div class=\"col-md-6\">\n    <span id=\"result\"></span>\n</div>\n</div>\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":370,"y":340,"wires":[["e5cc2fa.0d130d"]]},{"id":"9c97d605.e89dc8","type":"function","z":"f6e47447.250fa8","name":"Sample Data","func":"msg.payload = {\n    \"name\": \"NodeRED Test\",\n    \"email\": \"cory@internetoflego.com\",\n    \"orgAccess\": \"full\"\n };\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["bd6fa43d.1612d8"]]},{"id":"1ac8dda2.fc7b82","type":"http in","z":"f6e47447.250fa8","name":"","url":"/meraki/newAdmin/:orgId","method":"post","swaggerDoc":"","x":170,"y":500,"wires":[["1d694eae.0879a1"]]},{"id":"6e983822.4e31a8","type":"http response","z":"f6e47447.250fa8","name":"","x":990,"y":500,"wires":[]},{"id":"1d694eae.0879a1","type":"function","z":"f6e47447.250fa8","name":"form data","func":"// Convert form data into Meraki API expected JSON\nmsg.orgId = msg.req.params.orgId;\nmsg.payload = {\n    name: msg.req.body.firstname + \" \" + msg.req.body.lastname,\n    email: msg.req.body.email,\n    orgAccess: msg.req.body.orgAccess\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":500,"wires":[["95bfacc.df0205","bd6fa43d.1612d8"]]},{"id":"95bfacc.df0205","type":"debug","z":"f6e47447.250fa8","name":"newAdmin Form Data","active":true,"console":"false","complete":"payload","x":296.5555725097656,"y":558.6666631698608,"wires":[]},{"id":"be8b9a21.4bece8","type":"comment","z":"f6e47447.250fa8","name":"Meraki Dashboard API Sample App","info":"Create a Meraki Dasbhoard Admin with a form.\n\nTo open the web form, navigate to \n\nhttp://yourserver:1880/meraki/admins\n","x":459,"y":24.000003814697266,"wires":[]},{"id":"59413bb1.747df4","type":"inject","z":"f6e47447.250fa8","name":"List Organizations","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":660,"wires":[["d61b538c.4b05e"]]},{"id":"d61b538c.4b05e","type":"function","z":"f6e47447.250fa8","name":"Meraki API - List Organizations","func":"// Set Variables\nvar apiKey = global.get('apiKey');\n\n\n\n// API Call\nmsg.headers = {\n    \"X-Cisco-Meraki-API-Key\": apiKey\n};\n\nmsg.url = \"https://dashboard.meraki.com/api/v0/organizations\";\nmsg.method = 'get';\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":660,"wires":[["ae6c216e.f53cb"]]},{"id":"ae6c216e.f53cb","type":"http request","z":"f6e47447.250fa8","name":"","method":"use","ret":"txt","url":"","tls":"","x":670,"y":660,"wires":[["4643074a.8028c8"]]},{"id":"6035acf6.7c8d14","type":"http in","z":"f6e47447.250fa8","name":"","url":"/meraki/api/organizations","method":"get","swaggerDoc":"","x":160,"y":700,"wires":[["d61b538c.4b05e"]]},{"id":"4643074a.8028c8","type":"function","z":"f6e47447.250fa8","name":"Large Int Helper","func":"// Convert the org number to a string so that it does not become corrupted \n// when the JSON conversion happens.   \nmsg.payload = msg.payload.replace(/\"id\":(.*?)(?:,)/g,\"\\\"id\\\"\\:\\\"$1\\\"\\,\");\nconsole.log(\"new json with regex replace \",msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":860,"y":660,"wires":[["57566123.5e5a4"]]},{"id":"57566123.5e5a4","type":"json","z":"f6e47447.250fa8","name":"","x":830,"y":700,"wires":[["c9e3df7b.acaad","d831314f.9ea03"]]},{"id":"c9e3df7b.acaad","type":"http response","z":"f6e47447.250fa8","name":"","x":1030,"y":700,"wires":[]},{"id":"d831314f.9ea03","type":"debug","z":"f6e47447.250fa8","name":"List Orgs JSON","active":true,"console":"false","complete":"payload","x":1000,"y":740,"wires":[]},{"id":"89a12ee7.2ee57","type":"inject","z":"f6e47447.250fa8","name":"Sets Defaults - Injected at start","topic":"","payload":"Setting Environment Variables","payloadType":"str","repeat":"","crontab":"","once":true,"x":170,"y":60,"wires":[["b20a25fa.090618"]]},{"id":"b20a25fa.090618","type":"function","z":"f6e47447.250fa8","name":"Env Variables: UPDATE THIS","func":"//  ###### User Defined Variables ######\n\nconst API_KEY = 'YourAPIkey'; //Your API KEY (Keep this secret. Do not publish)\nvar shard = 'n###'; // https://n149.meraki.com , where n149 represent the shard number. This is defined to avoid redirect issues.\nvar orgId = 'YourOrgId'; // Your default Organization ID\n\n\n\n\n\n// ###### Set and Get Global variables ######\n\n\n// Assign to Global Context \nglobal.set('apiKey', API_KEY); // pulling API key via \"secret\" node. This avoides publishing the API key when sharing the flow\nglobal.set('shard', shard);\n\nglobal.set('orgId', orgId);\n\n\nmsg.payload = \"settings set\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["510c72af.ac248c"]]},{"id":"510c72af.ac248c","type":"debug","z":"f6e47447.250fa8","name":"Flow Env Variables","active":true,"console":"false","complete":"true","x":750,"y":60,"wires":[]},{"id":"bd6fa43d.1612d8","type":"function","z":"f6e47447.250fa8","name":"Meraki API - Create Admin","func":"// Set Variables\nvar apiKey = global.get('apiKey');\nvar shard = global.get('shard');\n//var orgId = global.get('orgId'); // set via global variables\nvar orgId = msg.orgId; //set via request parameter\n\n// API Call\nmsg.headers = {\n    \"X-Cisco-Meraki-API-Key\": apiKey\n};\nmsg.url = \"https://\"+shard+\".meraki.com/api/v0/organizations/\"+orgId+\"/admins\";\nmsg.method = 'post';\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":500,"wires":[["d02d5185.e4a91"]]},{"id":"15d281a6.3575de","type":"comment","z":"f6e47447.250fa8","name":"APIs","info":"","x":70,"y":400,"wires":[]},{"id":"b6a948b6.fe9fb8","type":"link out","z":"dc6befa3.b9a2e","name":"excapClick Login","links":["bc43f620.69aed8","9c5a802e.eb8b3"],"x":395,"y":300,"wires":[]},{"id":"c8519b91.231bc8","type":"http request","z":"98b218f0.7109e8","name":"","method":"use","ret":"txt","url":"","tls":"","x":530,"y":140,"wires":[["dc97584e.0e28d8"]]},{"id":"39d5ac59.e69d54","type":"function","z":"98b218f0.7109e8","name":"Spark Send Message (API) - UPDATE","func":"// ******************\n// Set Your Variables\n// ******************\nvar accessToken = \"EnterYourAccessTokenHere\"; // Your Access Token\nvar roomId = \"EnterYourRoomIDHere\"; // Your Room ID\n\n// -- -- -- -- -- --\n// Build API Call\nmsg.url = \"https://api.ciscospark.com/v1/messages\";\nmsg.headers = { \n    'content-type': 'application/json',\n    'authorization': 'Bearer '+ accessToken \n};\nmsg.payload ={ \n    roomId: roomId,\n    markdown: msg.payload \n}\nmsg.method = \"post\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["c8519b91.231bc8"]]},{"id":"a8bd3e7a.160e8","type":"inject","z":"98b218f0.7109e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":240,"wires":[["233b397.fb02ec6"]]},{"id":"dc97584e.0e28d8","type":"debug","z":"98b218f0.7109e8","name":"Spark Message","active":true,"console":"false","complete":"true","x":740,"y":140,"wires":[]},{"id":"3dd8644c.4566bc","type":"link in","z":"98b218f0.7109e8","name":"","links":["974b3be4.364088"],"x":255,"y":480,"wires":[["a3206250.8931e"]]},{"id":"5a0be9f8.3c90c8","type":"comment","z":"98b218f0.7109e8","name":"Cisco Spark API Examples - README","info":"These sample flows simply take the results from\nthe linked sample flows, formats them and sends a message\nto a Cisco Spark room.\n\nUpdate the Spark API function with your `roomID`\nand your `accessToken`. These can be found on \nthe developers portal for Cisco Spark.\n\nThe `accessToken` can be found in the portal by\nclicking on your profile icon in the top right.\nCopy this token into the function variable.\n\nExample Token\n`ZGJjNzI0ODAtNmEwNS00YjU3LTkzOTYtMjthisisbogushmOWI3M2IyZGI4NzctZDVh`\n\n*API to List Rooms*\nhttps://developer.ciscospark.com/endpoint-rooms-get.html\n- you will get your roomId by running this call\nusing their \"Test Mode\", which will run the command\nand the resulting JSON will appear with the \nid, name, etc. Copy the `id` value into the function variable.\n`\n{\n\t\t\t\"id\": \"Y2lzY29zcGFyazovL3VzL1JPT00vNWExMjhhNTAtNTExZi0xMWU3LTk2NTctYjMzNWEyNmMzYmVj\",\n\t\t\t\"title\": \"Node-RED Testing Sandbox\",\n\t\t\t\"type\": \"group\",\n\t\t\t\"isLocked\": false,\n\t\t\t\"lastActivity\": \"2017-06-14T20:21:09.726Z\",\n\t\t\t\"creatorId\": \"Y2lzY29zcGFyazovL3VzL1BFT1BMRS80ZjY4OWNhZS1mYjNlLTRjNDEtODM3OC1hYmY1Mjc2Y2RmMzQ\",\n\t\t\t\"created\": \"2017-06-14T16:34:35.509Z\"\n\t\t}\n`\n\n*API to Send a Message*\nhttps://developer.ciscospark.com/endpoint-messages-post.html\n","x":430,"y":40,"wires":[]},{"id":"97a48efc.38a9f","type":"comment","z":"98b218f0.7109e8","name":"Captive Portal Login Notification","info":"","x":150,"y":280,"wires":[]},{"id":"a707e715.538d68","type":"link out","z":"f6e47447.250fa8","name":"Create Meraki Admin","links":["6dfb973a.9fdc18"],"x":955,"y":540,"wires":[]},{"id":"6dfb973a.9fdc18","type":"link in","z":"98b218f0.7109e8","name":"","links":["a707e715.538d68"],"x":255,"y":400,"wires":[["b57d79d6.b2a5e8","e840c260.1f90b"]]},{"id":"b57d79d6.b2a5e8","type":"function","z":"98b218f0.7109e8","name":"Format Message","func":"var admin = msg.payload;\n\nmsg.payload = \"## New Admin Created! \\n\" +\n    admin.name + \" \" + admin.email + \"   **Access**: \"+admin.orgAccess;\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["f141a165.8e721"]]},{"id":"9c5a802e.eb8b3","type":"link in","z":"98b218f0.7109e8","name":"","links":["b6a948b6.fe9fb8"],"x":255,"y":320,"wires":[["a597368a.d76498"]]},{"id":"a597368a.d76498","type":"function","z":"98b218f0.7109e8","name":"Format Message","func":"\nvar client = msg.payload;\n\nmsg.payload = \"## New WiFi Client Joined! \\n\" +\n    client.name + \" \" + client.email;\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["849c340f.d0f678"]]},{"id":"99d5f528.d63f18","type":"comment","z":"98b218f0.7109e8","name":"Test Timestamp","info":"","x":100,"y":200,"wires":[]},{"id":"1b9a7618.368ffa","type":"comment","z":"98b218f0.7109e8","name":"Dashboard API Admin Creation","info":"","x":150,"y":360,"wires":[]},{"id":"7ce6edf2.efb674","type":"comment","z":"98b218f0.7109e8","name":"Location API Notification","info":"","x":130,"y":440,"wires":[]},{"id":"fb0500ad.d3262","type":"link out","z":"483ba45a.deac6c","name":"Location API All Data","links":["1869c632.dc952a"],"x":555,"y":300,"wires":[]},{"id":"e9610d16.d8413","type":"comment","z":"483ba45a.deac6c","name":"Workflow Example","info":"","x":110,"y":360,"wires":[]},{"id":"d7cfabd2.c8fcc8","type":"debug","z":"483ba45a.deac6c","name":"WiFi Device","active":true,"console":"false","complete":"true","x":610,"y":440,"wires":[]},{"id":"d2941791.456a88","type":"http in","z":"483ba45a.deac6c","name":"","url":"/scanning","method":"post","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["1f268f40.0768f1","18f61c6.869eee4"]]},{"id":"1869c632.dc952a","type":"link in","z":"483ba45a.deac6c","name":"","links":["fb0500ad.d3262"],"x":55,"y":440,"wires":[["17ca4a62.856486"]]},{"id":"974b3be4.364088","type":"link out","z":"483ba45a.deac6c","name":"BLE Location API","links":["3dd8644c.4566bc"],"x":555,"y":480,"wires":[]},{"id":"fdfd370b.4ae128","type":"function","z":"483ba45a.deac6c","name":"WiFi Split observations","func":"// send individual observation items to next node\nvar data = msg.payload.data;\n\nfor (i = 0; i < data.observations.length; i++) { \n    msg.payload = data.observations[i];\n    node.send(msg);\n}\n\n","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["d7cfabd2.c8fcc8","a218209b.27be4"]]},{"id":"17ca4a62.856486","type":"switch","z":"483ba45a.deac6c","name":"WiFi or BLE","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"DevicesSeen","vt":"str"},{"t":"eq","v":"BluetoothDevicesSeen","vt":"str"}],"checkall":"true","outputs":2,"x":170,"y":440,"wires":[["fdfd370b.4ae128"],["e5a66787.713c38"]]},{"id":"e5a66787.713c38","type":"function","z":"483ba45a.deac6c","name":"BLE Split observations","func":"// send individual observation items to next node\nvar data = msg.payload.data;\n\nfor (i = 0; i < data.observations.length; i++) { \n    msg.payload = data.observations[i];\n    node.send(msg);\n}\n\n","outputs":1,"noerr":0,"x":360,"y":480,"wires":[["974b3be4.364088","32fb6cc0.5a9ae4"]]},{"id":"32fb6cc0.5a9ae4","type":"debug","z":"483ba45a.deac6c","name":"BLE Device","active":true,"console":"false","complete":"true","x":610,"y":520,"wires":[]},{"id":"a218209b.27be4","type":"link out","z":"483ba45a.deac6c","name":"WiFi Location API","links":["13495172.590ccf"],"x":555,"y":400,"wires":[]},{"id":"7ae77df7.247834","type":"switch","z":"98b218f0.7109e8","name":"Search VIP Client- UPDATE","property":"payload.clientMac","propertyType":"msg","rules":[{"t":"cont","v":"74:da:38:56:0a:80","vt":"str"}],"checkall":"true","outputs":1,"x":420,"y":580,"wires":[["94da101c.7503a"]]},{"id":"13495172.590ccf","type":"link in","z":"98b218f0.7109e8","name":"","links":["a218209b.27be4"],"x":255,"y":540,"wires":[["af00150d.a641f8","7ae77df7.247834"]]},{"id":"af00150d.a641f8","type":"function","z":"98b218f0.7109e8","name":"Format Message","func":"// Write a message with Markdown and include the Google Maps encoded URL.\n// http://maps.google.com/maps?t=h&q=loc:35.487895,-87.332414&z=17 \nvar device = msg.payload;\nvar manufacturer = device.manufacturer || \"\"; // display manufacturer only if it is known\n\nmsg.payload = \"## WiFi Device Found! \\n\" +\n    \"####\"+ manufacturer + \"#### \\n\"+\n    \" **RSSI**:\" + device.rssi +\n    \" **MAC**: \" + device.clientMac +\n    \" [Map](https://maps.google.com/maps?t=h&q=loc:\"+device.location.lat +\",\"+ device.location.lng+\"&z=17)\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":540,"wires":[["459cc3ef.c2f61c"]]},{"id":"7b4fbf3a.c6b38","type":"link in","z":"98b218f0.7109e8","name":"Cisco Spark","links":["233b397.fb02ec6","849c340f.d0f678","f141a165.8e721","6555fc14.cfc8a4","459cc3ef.c2f61c","d18e77c6.614e58"],"x":75,"y":140,"wires":[["39d5ac59.e69d54"]]},{"id":"233b397.fb02ec6","type":"link out","z":"98b218f0.7109e8","name":"","links":["7b4fbf3a.c6b38"],"x":575,"y":240,"wires":[]},{"id":"849c340f.d0f678","type":"link out","z":"98b218f0.7109e8","name":"","links":["7b4fbf3a.c6b38"],"x":575,"y":320,"wires":[]},{"id":"f141a165.8e721","type":"link out","z":"98b218f0.7109e8","name":"","links":["7b4fbf3a.c6b38"],"x":575,"y":400,"wires":[]},{"id":"6555fc14.cfc8a4","type":"link out","z":"98b218f0.7109e8","name":"","links":["7b4fbf3a.c6b38"],"x":835,"y":480,"wires":[]},{"id":"459cc3ef.c2f61c","type":"link out","z":"98b218f0.7109e8","name":"","links":["7b4fbf3a.c6b38"],"x":835,"y":540,"wires":[]},{"id":"799b7bab.8dc2d4","type":"comment","z":"98b218f0.7109e8","name":"Send Message to Cisco Spark Room","info":"","x":170,"y":620,"wires":[]},{"id":"b8b662cd.67fb9","type":"comment","z":"98b218f0.7109e8","name":"BLE","info":"","x":170,"y":480,"wires":[]},{"id":"14bbca27.75b5c6","type":"comment","z":"98b218f0.7109e8","name":"WiFi","info":"","x":170,"y":540,"wires":[]},{"id":"a3206250.8931e","type":"function","z":"98b218f0.7109e8","name":"Format Message","func":"// Write a message with Markdown and include the Google Maps encoded URL.\n// http://maps.google.com/maps?t=h&q=loc:35.487895,-87.332414&z=17 \nvar device = msg.payload;\nmsg.payload = \"## BLE Device Found! \\n\" +\n    \" **RSSI**:\" + device.rssi +\n    \" **MAC**: \" + device.clientMac +\n    \" [Map](https://maps.google.com/maps?t=h&q=loc:\"+device.location.lat +\",\"+ device.location.lng+\"&z=17)\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":480,"wires":[["6555fc14.cfc8a4"]]},{"id":"94da101c.7503a","type":"function","z":"98b218f0.7109e8","name":"Format Message","func":"// Write a message with Markdown and include the Google Maps encoded URL.\n// http://maps.google.com/maps?t=h&q=loc:35.487895,-87.332414&z=17 \nvar device = msg.payload;\nvar manufacturer = device.manufacturer || \"\"; // display manufacturer only if it is known\n\nmsg.payload = \"## VIP WiFi Device Found! \\n\" +\n    \"####\"+ manufacturer + \"#### \\n\"+\n    \" **RSSI**:\" + device.rssi +\n    \" **MAC**: \" + device.clientMac +\n    \" [Map](https://maps.google.com/maps?t=h&q=loc:\"+device.location.lat +\",\"+ device.location.lng+\"&z=17)\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["d18e77c6.614e58"]]},{"id":"d18e77c6.614e58","type":"link out","z":"98b218f0.7109e8","name":"","links":["7b4fbf3a.c6b38"],"x":835,"y":580,"wires":[]},{"id":"e840c260.1f90b","type":"debug","z":"98b218f0.7109e8","name":"Admin Data","active":true,"console":"false","complete":"payload","x":390,"y":440,"wires":[]},{"id":"7fc5c1c.2439a4","type":"comment","z":"98b218f0.7109e8","name":"Send Message to Cisco Spark Room","info":"","x":170,"y":100,"wires":[]},{"id":"13c37e53.73e432","type":"chatbot-telegram-receive","z":"a0d28461.937488","bot":"","x":190,"y":140,"wires":[["51b10ed4.c622e"]]},{"id":"fd8bdd3e.919e1","type":"change","z":"a0d28461.937488","name":"save telegramBot msg","rules":[{"t":"set","p":"telegramBot","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":140,"wires":[["25b0a7a4.24c2c8"]]},{"id":"51b10ed4.c622e","type":"function","z":"a0d28461.937488","name":"look up user context maps","func":"if(msg.payload.chatId){\n    var userContext = global.get('telegram-'+msg.payload.chatId);\n}\nmsg.userContext = userContext;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["fd8bdd3e.919e1"]]},{"id":"25b0a7a4.24c2c8","type":"link out","z":"a0d28461.937488","name":"","links":["fe18015c.f90d8"],"x":775,"y":140,"wires":[]},{"id":"1826228b.4a906d","type":"link in","z":"a0d28461.937488","name":"","links":["65e2f257.7bf5bc","68bd844e.88638c"],"x":195,"y":340,"wires":[["16240a71.6ac706"]]},{"id":"3a8caa51.384306","type":"chatbot-telegram-send","z":"a0d28461.937488","bot":"","track":false,"outputs":0,"x":910,"y":340,"wires":[]},{"id":"8a57f101.dceb","type":"function","z":"a0d28461.937488","name":"send back to telegram","func":"\nif(msg.watsonMsg.output.text[0]){\n    msg.telegramBot.content = msg.watsonMsg.output.text;\n} \n\n//combine msg back to telegramBot msg\nmsg.payload = msg.telegramBot;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":340,"wires":[["3a8caa51.384306"]]},{"id":"16240a71.6ac706","type":"function","z":"a0d28461.937488","name":"save conversation context by mapping chatId","func":"//save context info by mapping the chat id\nvar contextObject={}\n\nif(!msg.telegramBot){\n    contextObject.telegramBot=msg.userContext.telegramBot;\n} else {\n    contextObject.telegramBot=msg.telegramBot;\n}\n\nif(!msg.watsonMsg){\n    contextObject.watsonMsg=msg.userContext.watsonMsg;\n} else {\n    contextObject.watsonMsg=msg.watsonMsg;\n}\n\nif(!msg.searchResult){\n    if(msg.userContext && msg.userContext.searchResult){\n        contextObject.searchResult = msg.userContext.searchResult;\n    }\n} else {\n    contextObject.searchResult = msg.searchResult;\n}\n\nglobal.set(\"telegram-\"+msg.telegramBot.chatId, contextObject);\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["8a57f101.dceb"]]},{"id":"fe18015c.f90d8","type":"link in","z":"ca4d473d.cefc08","name":"","links":["25b0a7a4.24c2c8"],"x":215,"y":120,"wires":[["35e5022e.1c107e"]]},{"id":"d7c9dfea.c9b99","type":"watson-conversation-v1","z":"ca4d473d.cefc08","name":"","workspaceid":"","multiuser":false,"context":true,"x":570,"y":120,"wires":[["f71dea36.51e678"]]},{"id":"f71dea36.51e678","type":"change","z":"ca4d473d.cefc08","name":"save to watsonMsg","rules":[{"t":"set","p":"watsonMsg","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":120,"wires":[["f49a7d6e.d75fb"]]},{"id":"35e5022e.1c107e","type":"change","z":"ca4d473d.cefc08","name":"prepare to send to watson","rules":[{"t":"set","p":"payload","pt":"msg","to":"telegramBot.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":120,"wires":[["d7c9dfea.c9b99"]]},{"id":"f49a7d6e.d75fb","type":"link out","z":"ca4d473d.cefc08","name":"","links":["623aa135.3a6c7","44973d18.e074f4"],"x":895,"y":120,"wires":[]},{"id":"f4ac876b.011218","type":"function","z":"593f6ad7.dc8a24","name":"retrive item number","func":"var foundItem = false;\nif(msg.userContext && msg.userContext.searchResult){\n    if(msg.payload.entities){\n        msg.payload.entities.forEach(function(item){\n            if(item.entity == \"itemNumber\"){\n                var itemNum;\n                if(item.value >= 0 && item.value <= 4){\n                    itemNum = item.value;\n                } else {\n                    itemNum = msg.userContext.watsonMsg.itemNum;\n                }\n                msg.watsonMsg.itemNum = itemNum;\n      \n                foundItem = true;\n            }\n        })\n        if(!foundItem){\n            if(msg.userContext.watsonMsg.itemNum){\n                msg.watsonMsg.itemNum = msg.userContext.watsonMsg.itemNum;    \n            } else {\n                msg.watsonMsg.itemNum = \"\";\n            }\n        } \n    } \n} \nreturn msg;\n","outputs":1,"noerr":0,"x":170,"y":180,"wires":[["59188abf.97cfc4"]]},{"id":"59188abf.97cfc4","type":"switch","z":"593f6ad7.dc8a24","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"searchItems","vt":"str"},{"t":"eq","v":"checkPrice","vt":"str"},{"t":"eq","v":"getDetails","vt":"str"},{"t":"eq","v":"getReviews","vt":"str"},{"t":"eq","v":"checkOnlineStock","vt":"str"},{"t":"eq","v":"order","vt":"str"},{"t":"else"}],"checkall":"true","outputs":7,"x":350,"y":140,"wires":[["e66d982b.802468"],["1cd60815.e08748"],["e8c5e535.60f6e8"],["b0793818.314a48"],["ad12c1b1.a4ff1"],["58bb5a92.6d31e4"],["17564e87.210a11"]]},{"id":"1cd60815.e08748","type":"function","z":"593f6ad7.dc8a24","name":"checkPrice","func":"if(msg.userContext.searchResult){\n    if(msg.watsonMsg.itemNum){\n        if(msg.userContext.searchResult.items[msg.watsonMsg.itemNum].salePrice){\n            msg.salePrice = msg.userContext.searchResult.items[msg.watsonMsg.itemNum].salePrice;\n        } else {\n            msg.salePrice = \"Sales price is unavailable\";\n        }\n        return([msg, null]);\n    } else {\n        console.log(\"item not found\");\n        msg.salePrice = msg.payload.output.text[0];\n        return( [null, msg] ); \n    } \n} else {\n    msg.salePrice = \"Can you be more specific in what you are looking for?\";\n    return([null,msg]);\n}\n\n\n\n","outputs":"2","noerr":0,"x":530,"y":140,"wires":[["17564e87.210a11"],["17564e87.210a11"]]},{"id":"e66d982b.802468","type":"function","z":"593f6ad7.dc8a24","name":"searchItems","func":"\nvar foundItem = false;\n\nvar search_words =[];\nif(msg.watsonMsg.itemNum){\n    delete msg.watsonMsg.itemNum;\n}\n\nif (msg.payload.entities){\n    msg.payload.entities.forEach(function(item){\n        if(item.entity == 'category'){\n            if(search_words.length === 0){\n                search_words += item.value;\n            } else {\n                search_words += \"+\" + item.value;\n            }\n            foundItem = true;\n        }        \n    })\n    if(!foundItem){\n        console.log(\"category not found\");\n        node.send( [null, msg] ); \n    } else {\n        msg.searchItems = search_words;\n        node.send([msg, null]);\n    }\n    return;\n} else {\n    return [null, msg];\n}\n\n\n","outputs":"2","noerr":0,"x":530,"y":100,"wires":[["9c8756a9.461488"],["17564e87.210a11"]]},{"id":"e8c5e535.60f6e8","type":"function","z":"593f6ad7.dc8a24","name":"getDetails","func":"if(msg.userContext.searchResult){\n    if(msg.watsonMsg.itemNum){\n        if(msg.userContext.searchResult.items[msg.watsonMsg.itemNum].shortDescription){\n            msg.details = msg.userContext.searchResult.items[msg.watsonMsg.itemNum].shortDescription;\n        } else {\n            msg.details = \"Sales price is unavailable\";\n        }\n        return([msg, null]);\n    } else {\n        console.log(\"item not found\");\n        msg.details = msg.payload.output.text[0];\n        return( [null, msg] ); \n    } \n} \n\n\n\n","outputs":"2","noerr":0,"x":520,"y":180,"wires":[["17564e87.210a11"],["17564e87.210a11"]]},{"id":"b0793818.314a48","type":"function","z":"593f6ad7.dc8a24","name":"getReviews","func":"if(msg.userContext.searchResult){\n    if(msg.watsonMsg.itemNum){\n        if(msg.userContext.searchResult.items[msg.watsonMsg.itemNum].itemId){\n            // msg.url = searchItemUrl + msg.userContext.searchResult.items[msg.watsonMsg.itemNum].itemId + apiKey;\n            msg.itemId = msg.userContext.searchResult.items[msg.watsonMsg.itemNum].itemId;\n            node.send([msg,null]);\n            return;\n            \n        } else {\n            return([msg, null]);\n        }\n    } else {\n        return( [null, msg] ); \n    } \n} \n\n\n","outputs":"2","noerr":0,"x":530,"y":220,"wires":[["8c3b3928.293518"],["17564e87.210a11"]]},{"id":"ad12c1b1.a4ff1","type":"function","z":"593f6ad7.dc8a24","name":"checkOnlineStock","func":"if(msg.userContext.searchResult){\n    if(msg.watsonMsg.itemNum){\n        if(msg.userContext.searchResult.items[msg.watsonMsg.itemNum].stock){\n            msg.stock = msg.userContext.searchResult.items[msg.watsonMsg.itemNum].stock;\n        } else {\n            msg.stock = \"Stock is unavailable\";\n        }\n        return([msg, null]);\n    } else {\n        console.log(\"item not found\");\n        msg.stock = msg.payload.output.text[0];\n        return( [null, msg] ); \n    } \n} \n\n\n","outputs":"2","noerr":0,"x":550,"y":260,"wires":[["17564e87.210a11"],["17564e87.210a11"]]},{"id":"58bb5a92.6d31e4","type":"function","z":"593f6ad7.dc8a24","name":"order","func":"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["17564e87.210a11"]]},{"id":"fc2d155.9def0e8","type":"http request","z":"593f6ad7.dc8a24","name":"get result from walmart","method":"GET","ret":"txt","url":"","tls":"","x":980,"y":100,"wires":[["24c3475f.321e08"]]},{"id":"24c3475f.321e08","type":"json","z":"593f6ad7.dc8a24","name":"","x":1150,"y":100,"wires":[["46e883b2.3537dc"]]},{"id":"52795265.0938cc","type":"http request","z":"593f6ad7.dc8a24","name":"get reviews","method":"GET","ret":"txt","url":"","tls":"","x":1090,"y":300,"wires":[["d064b3e5.57cbe"]]},{"id":"d064b3e5.57cbe","type":"json","z":"593f6ad7.dc8a24","name":"","x":1230,"y":300,"wires":[["17564e87.210a11"]]},{"id":"46e883b2.3537dc","type":"change","z":"593f6ad7.dc8a24","name":"save searchResult","rules":[{"t":"set","p":"searchResult","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":100,"wires":[["17564e87.210a11"]]},{"id":"17564e87.210a11","type":"function","z":"593f6ad7.dc8a24","name":"retrive watson response msg and set content","func":"\n// //combine http request result to watsonMsg\nswitch(msg.watsonMsg.intents[0].intent) {\n    case \"checkPrice\":\n        //\n        if(msg.salePrice) {\n            msg.watsonMsg.output.text += \"\\nThe price is \" + msg.salePrice + \" dollar.\";\n            msg.watsonMsg.output.text += \"\\n Would you like to order this item?\"\n        } else {\n            if(!msg.watsonMsg.itemNum) {\n                msg.watsonMsg.output.text += \"\\nCan you be more specific?\";\n            } else {\n                msg.watsonMsg.output.text += \"\\nThe price is not available online.\";                \n            }\n        }\n        break;\n    case \"searchItems\":\n        if(!msg.payload.items) {\n            msg.watsonMsg.output.text += \"\\nSorry we cannot find anything in this category, try a different name?\";\n        } else {\n            msg.watsonMsg.output.text += '\\nHere is what I found:\\n';\n            for(var i = 0; i <5; i++) {\n                if(msg.payload.items[i]) {\n                    msg.watsonMsg.output.text += \"\\n \" + (i+1) +\". \" + msg.payload.items[i].name;               \n                }\n            }\n            msg.watsonMsg.output.text += '\\n\\nYou can further send requests by saying \"How much is the first one.\"';\n        }\n        break;\n    case \"getDetails\":\n        //\n        if(msg.details) {\n            msg.watsonMsg.output.text += \"\\n\" + msg.details;\n        } else {\n            if(!msg.watsonMsg.itemNum) {\n                msg.watsonMsg.output.text += \"\\nCan you be more specific?\";\n            } else {\n                msg.watsonMsg.output.text += \"\\nSorry the description is not available online\"; \n            }            \n            \n        }        \n        break;\n    case \"getReviews\":\n        //\n        if(msg.payload){\n            msg.watsonMsg.output.text += \"\\nThe average rating for this product is: \" + msg.payload.reviewStatistics.averageOverallRating + \"/5, out of \" + msg.payload.reviewStatistics.totalReviewCount + \" reviews\";\n        } else {\n            if(!msg.watsonMsg.itemNum) {\n                msg.watsonMsg.output.text += \"\\nCan you be more specific?\";\n            } else {\n                msg.watsonMsg.output.text += \"\\nSorry there is not review about this product yet.\";    \n            }\n            \n        }\n        break;\n    case \"checkOnlineStock\":\n        //\n        if(msg.stock) {\n            msg.watsonMsg.output.text += \"\\nThe stock status for this product is \" + msg.stock;\n        } else {\n            if(!msg.watsonMsg.itemNum) {\n                msg.watsonMsg.output.text += \"\\nCan you be more specific?\";\n            } else {\n               msg.watsonMsg.output.text += \"\\nSorry this info is not available online\"; \n            }\n            \n        }   \n        break;\n        \n    default:\n        msg.watsonMsg.output.text = msg.watsonMsg.output.text[0];\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1490,"y":200,"wires":[["65e2f257.7bf5bc"]]},{"id":"623aa135.3a6c7","type":"link in","z":"593f6ad7.dc8a24","name":"","links":["f49a7d6e.d75fb"],"x":175,"y":80,"wires":[["67576ef0.b6af6"]]},{"id":"65e2f257.7bf5bc","type":"link out","z":"593f6ad7.dc8a24","name":"","links":["1826228b.4a906d"],"x":1695,"y":200,"wires":[]},{"id":"f5b10063.22aa4","type":"comment","z":"a0d28461.937488","name":"Receive msg from messenger","info":"","x":140,"y":100,"wires":[]},{"id":"e6ae1535.04cd98","type":"comment","z":"a0d28461.937488","name":"Send msg to watson","info":"","x":820,"y":100,"wires":[]},{"id":"65e5e8fe.d189a8","type":"comment","z":"a0d28461.937488","name":"Receive msg from backend process and prepare to send back to the messenger","info":"","x":420,"y":300,"wires":[]},{"id":"3ece348e.c68c2c","type":"comment","z":"ca4d473d.cefc08","name":"receive msg from messenger and prepare to send to watson","info":"","x":260,"y":80,"wires":[]},{"id":"3c7d074f.1e7318","type":"comment","z":"ca4d473d.cefc08","name":"Receive response from watson, prepare to let FRED do its tasks","info":"","x":910,"y":80,"wires":[]},{"id":"895d392d.f8e698","type":"comment","z":"593f6ad7.dc8a24","name":"Different functions that we want the bot to do for us","info":"","x":570,"y":60,"wires":[]},{"id":"405a5e2d.49f31","type":"comment","z":"593f6ad7.dc8a24","name":"receive response from watson","info":"","x":180,"y":40,"wires":[]},{"id":"2d946f2b.08f1c","type":"comment","z":"593f6ad7.dc8a24","name":"hitting walmart APIs","info":"","x":1070,"y":340,"wires":[]},{"id":"ae2ef384.e6147","type":"comment","z":"593f6ad7.dc8a24","name":"combine the results back into the watson response","info":"","x":1590,"y":160,"wires":[]},{"id":"9c8756a9.461488","type":"template","z":"593f6ad7.dc8a24","name":"searchItems URL","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://api.walmartlabs.com/v1/search?query={{searchItems}}&format=json&apiKey={{apikey}}","x":770,"y":100,"wires":[["fc2d155.9def0e8"]]},{"id":"8c3b3928.293518","type":"template","z":"593f6ad7.dc8a24","name":"getReviews URL","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://api.walmartlabs.com/v1/reviews/{{itemId}}?format=json&apiKey={{apikey}}","x":910,"y":300,"wires":[["52795265.0938cc"]]},{"id":"67576ef0.b6af6","type":"template","z":"593f6ad7.dc8a24","name":"walmart API key","field":"apikey","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<Your walmart API key>","x":180,"y":120,"wires":[["f4ac876b.011218"]]},{"id":"82131711.84f998","type":"comment","z":"f6e47447.250fa8","name":"Workflow Examples","info":"","x":420,"y":400,"wires":[]},{"id":"5b8b957d.ad2d6c","type":"debug","z":"f55d4e02.373b2","name":"Data","active":true,"console":"false","complete":"payload","x":810,"y":120,"wires":[]},{"id":"b1eb395.1fa77c8","type":"Meraki CMX","z":"f55d4e02.373b2","name":"","url":"/scanning","settings":"","radioType":"BluetoothDevicesSeen","x":400,"y":140,"wires":[["5b8b957d.ad2d6c","77391fe6.feb1d"],["3ae46c59.f19db4"]]},{"id":"6d57c684.abb098","type":"debug","z":"f55d4e02.373b2","name":"Status: Data","active":true,"console":"false","complete":"true","x":790,"y":200,"wires":[]},{"id":"fdd9feca.b0797","type":"split","z":"f55d4e02.373b2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":630,"y":520,"wires":[["35863c01.260704"]]},{"id":"329b26c3.d3b86a","type":"function","z":"f55d4e02.373b2","name":"Extract Observations","func":"// Flatten JSON\nmsg.type = msg.payload.type;\nmsg.apMac = msg.payload.data.apMac;\nmsg.apFloors = msg.payload.data.apFloors\nmsg.apTags = msg.payload.data.apTags;\nmsg.payload = msg.payload.data.observations;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["fdd9feca.b0797"]]},{"id":"35863c01.260704","type":"debug","z":"f55d4e02.373b2","name":"Observation","active":true,"console":"false","complete":"true","x":790,"y":520,"wires":[]},{"id":"3ae46c59.f19db4","type":"switch","z":"f55d4e02.373b2","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"data","vt":"str"},{"t":"eq","v":"version","vt":"str"},{"t":"eq","v":"validator","vt":"str"},{"t":"eq","v":"secret","vt":"str"},{"t":"eq","v":"type","vt":"str"},{"t":"eq","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","outputs":7,"x":590,"y":300,"wires":[["6d57c684.abb098"],["13cf29d8.6d01c6"],["e1a4e16.730f22"],["986fc838.e20068"],["4b31e784.e19048"],["9b7211e8.a9391"],["bbbae73.afb7a18"]]},{"id":"e1a4e16.730f22","type":"debug","z":"f55d4e02.373b2","name":"Status: Validator","active":true,"console":"false","complete":"true","x":780,"y":280,"wires":[]},{"id":"986fc838.e20068","type":"debug","z":"f55d4e02.373b2","name":"Status: Secret","active":true,"console":"false","complete":"true","x":780,"y":320,"wires":[]},{"id":"4b31e784.e19048","type":"debug","z":"f55d4e02.373b2","name":"Status: Type","active":true,"console":"false","complete":"true","x":790,"y":360,"wires":[]},{"id":"9b7211e8.a9391","type":"debug","z":"f55d4e02.373b2","name":"Status: Error","active":true,"console":"false","complete":"true","x":790,"y":400,"wires":[]},{"id":"bbbae73.afb7a18","type":"debug","z":"f55d4e02.373b2","name":"Status: Otherwise","active":true,"console":"false","complete":"true","x":770,"y":440,"wires":[]},{"id":"77391fe6.feb1d","type":"link out","z":"f55d4e02.373b2","name":"Meraki Scanning","links":["d7d9eed5.bd0b4"],"x":575,"y":160,"wires":[]},{"id":"d7d9eed5.bd0b4","type":"link in","z":"f55d4e02.373b2","name":"Split Observations","links":["77391fe6.feb1d"],"x":360,"y":480,"wires":[["329b26c3.d3b86a"]]},{"id":"42d056d0.8fe118","type":"comment","z":"f55d4e02.373b2","name":"Workflow Examples","info":"","x":420,"y":440,"wires":[]},{"id":"13cf29d8.6d01c6","type":"debug","z":"f55d4e02.373b2","name":"Status: Version","active":true,"console":"false","complete":"true","x":780,"y":240,"wires":[]},{"id":"47c70ced.beeba4","type":"comment","z":"f55d4e02.373b2","name":"Meraki Scanning Node - README","info":"Update the Meraki node with your Meraki Network's\nvalidator and secret","x":710,"y":60,"wires":[]},{"id":"961c60a.b8aaea","type":"worldmap","z":"9d12bae1.565368","name":"","x":890,"y":120,"wires":[]},{"id":"a63df11b.d9ad4","type":"inject","z":"9d12bae1.565368","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":330,"y":80,"wires":[["f4bc3f71.5edbd"]]},{"id":"f4bc3f71.5edbd","type":"function","z":"9d12bae1.565368","name":"add new layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":80,"wires":[["961c60a.b8aaea"]]},{"id":"41da23d4.7f73dc","type":"function","z":"9d12bae1.565368","name":"USGS Quake monitor csv re-parse","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["961c60a.b8aaea"]]},{"id":"5711a3d2.eb6aec","type":"function","z":"9d12bae1.565368","name":"move and zoom","func":"msg.payload = { command:{layer:\"Mapsurfer\",lat:9.5711,lon:-73.0946,zoom:10} };\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":120,"wires":[["961c60a.b8aaea"]]},{"id":"dcb75a8d.035148","type":"csv","z":"9d12bae1.565368","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":530,"y":160,"wires":[["41da23d4.7f73dc"]]},{"id":"f5339ed4.5e1ad","type":"inject","z":"9d12bae1.565368","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":330,"y":120,"wires":[["5711a3d2.eb6aec"]]},{"id":"c6b5a62d.353248","type":"http request","z":"9d12bae1.565368","name":"","method":"GET","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","x":410,"y":220,"wires":[["dcb75a8d.035148"]]},{"id":"dbb9efda.74cee","type":"inject","z":"9d12bae1.565368","name":"Quakes","topic":"","payload":"","payloadType":"str","repeat":"900","crontab":"","once":false,"x":340,"y":160,"wires":[["c6b5a62d.353248"]]},{"id":"4750b899.5a7758","type":"split","z":"9d12bae1.565368","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":550,"y":360,"wires":[["6a418d3d.6590c4","68fd4179.63c31"]]},{"id":"10f5765f.36089a","type":"function","z":"9d12bae1.565368","name":"Extract Observations","func":"// Flatten JSON\nmsg.type = msg.payload.type;\nmsg.apMac = msg.payload.data.apMac;\nmsg.apFloors = msg.payload.data.apFloors\nmsg.apTags = msg.payload.data.apTags;\nmsg.payload = msg.payload.data.observations;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["4750b899.5a7758"]]},{"id":"6a418d3d.6590c4","type":"debug","z":"9d12bae1.565368","name":"Observation","active":true,"console":"false","complete":"true","x":710,"y":360,"wires":[]},{"id":"29280ddf.09c502","type":"worldmap","z":"9d12bae1.565368","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"3","maxage":"","usermenu":"show","panit":"false","x":710,"y":520,"wires":[]},{"id":"6fa1e3a0.0adf2c","type":"Meraki CMX","z":"9d12bae1.565368","name":"","url":"/scanningMap","settings":"","radioType":"All","x":270,"y":340,"wires":[["10f5765f.36089a"],["9a707988.b7dcc8"]]},{"id":"9a707988.b7dcc8","type":"debug","z":"9d12bae1.565368","name":"Status","active":true,"console":"false","complete":"true","x":310,"y":400,"wires":[]},{"id":"68fd4179.63c31","type":"function","z":"9d12bae1.565368","name":"format data","func":"var data = msg;\nmsg = {};\nmsg.payload = {};\nmsg.payload.name = data.payload.clientMac;\nmsg.payload.lat = data.payload.location.lat;\nmsg.payload.lon = data.payload.location.lng;\nmsg.payload.ipv4 = data.payload.ipv4;\nmsg.payload.ssid = data.payload.ssid;\nmsg.payload.os = data.payload.os;\nmsg.payload.rssi = data.payload.rssi;\nmsg.payload.manufacturer = data.payload.manufacturer;\nmsg.payload.type = data.type;\nmsg.payload.apMac = data.apMac;\nmsg.payload.layer = \"Meraki\";\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":290,"y":480,"wires":[["29280ddf.09c502","e6320a4c.0ce8a8","4cd3fda3.577144"]]},{"id":"e6320a4c.0ce8a8","type":"debug","z":"9d12bae1.565368","name":"Formatted Data","active":true,"console":"false","complete":"payload","x":700,"y":480,"wires":[]},{"id":"4cd3fda3.577144","type":"function","z":"9d12bae1.565368","name":"move and zoom","func":"msg.payload = { command:{layer:\"Meraki\",lat:msg.payload.lat,lon:msg.payload.lng,zoom:3} };\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":540,"wires":[["29280ddf.09c502"]]},{"id":"cf6e4874.5e4e08","type":"link in","z":"e6b398e5.3204f8","name":"Post SMS message","links":["3f1cde0f.f62bb2"],"x":455,"y":160,"wires":[["2ea94ebd.6847f2"]]},{"id":"3f1cde0f.f62bb2","type":"link out","z":"e6b398e5.3204f8","name":"Receive SMS message","links":["cf6e4874.5e4e08"],"x":835,"y":320,"wires":[]}]